[2016-06-06 20:15] OpenMatt opened #1 "Make "pulse" front end work w. story engine spreadsheet"
Make this front end:
http://xmatthewx.github.io/network-pulse/

Pull data / work with this spreadsheet:
https://docs.google.com/spreadsheets/d/1zeh03mqfHpClO1ijySAUvDZvq_fYARqtGwT0MPmp3EU/edit

[2016-06-06 20:17] OpenMatt commented on #1
- @xmatthewx as per our conversations the other day -- are you game?
- @prefontaine I added a column to the sheet w. a simple "publish? yes or no" field

[2016-06-06 20:22] OpenMatt opened #2 "Add issue tags to front end"
For easier tagging / sorting, etc

[2016-06-08 16:25] prefontaine commented on #1
@OpenMatt @xmatthewx Great! Thank you. I'm going to add dummy content for now to test the "yes" because need to check if survey respondents gave permission to post publicly.

I've developed several sites with sort/filter features (mostly for resources: http://tascha.uw.edu/publications-resources/, https://syriaaccountability.org/library/, http://beyondaccess.net/resources/). For the initial front

[2016-06-08 16:48] prefontaine commented on #1
@xmatthewx Actually I do think I'll need to mock up because we won't pull from all spreadsheet columns. I'll base it on http://xmatthewx.github.io/network-pulse/.

[2016-06-08 17:04] prefontaine commented on #1
Hmmmm @xmatthewx http://xmatthewx.github.io/network-pulse/ seems to be not working. Hung up on "loading"... (BTW my email is christine@facilitatingchange.org + skype is christine_prefontaine should you need to contact me off of GitHub).

[2016-06-09 16:55] OpenMatt commented on #1
@xmatthewx I have the same issue -- any reason why Pulse would be down?

[2016-06-09 17:01] OpenMatt commented on #2
@xmatthewx the issues tags to use are:
https://docs.google.com/document/d/1cLC3zpcUaqqordvmHOTpcRUiyNqlBf1RIordVLZ9WIg
- Online Privacy & Security    #privacy
- Open Innovation        #open
- Decentralization        #decentralized
- Web Literacy            #weblit
- Digital Inclusion        #web4all

[2016-06-09 17:02] OpenMatt commented on #2
@prefontaine see that google doc link above for short definitions of each

[2016-06-09 17:05] prefontaine commented on #2
@OpenMatt Yes I was in touch with Sam already and added those to the tip sheet. Forgot to update here, though #doh!

[2016-06-09 17:06] prefontaine commented on #2
@OpenMatt oh she did say the tags may change... but good for us for now

[2016-06-10 19:36] prefontaine opened #3 "Consent form to review"
@OpenMatt please [review consent form »](https://docs.google.com/a/facilitatingchange.org/document/d/1VAA-Hhp6zdyGhkVmwEbaqf5UjhSjyVgLC5yta3OspUA/edit?usp=sharing)

[2016-07-07 20:37] OpenMatt opened #4 "Ensure London All Hands stories are captured"

[2016-07-07 20:38] OpenMatt opened #5 "Submit an estimate for installing quantitative analysis plug-in"
@prefontaine you mentioned you had a developer who could help with this; email me an estimate?

[2016-07-07 20:38] OpenMatt opened #6 "Create interview list queue for August / Sep"
Prioritize story tips that could be turned into something that aligns with State of the Web

[2016-07-13 21:30] prefontaine commented on #4
@OpenMatt I can capture these. Who should I reach out to?

[2016-07-13 21:30] #3 closed

[2016-07-14 16:44] OpenMatt commented on #6
@prefontaine : where do we want to track who we're planning to interview next? Should we just add a column to the tips spreadsheet?
- July priorities: focus on web literacy stories that have communications potential. so that we can submit them for consideration to State of the Web
- Plus: copyright. There's a NY educator in there doing interesting work around remix / copyright. That could be a nic

[2016-07-14 16:49] OpenMatt commented on #4
@amirad remember all those great personas you guys had up on the wall in London? Any chance we can get those entered through the story tip sheet? Christine can help.
Story tip sheet is here:
https://docs.google.com/a/mozillafoundation.org/forms/d/1JhujT4NpZRVcQQmDhG1Mc9sgzNC83eD4gXr-8ICZYLM/viewform

[2016-07-14 16:52] OpenMatt commented on #4
Looks like Amira is away until July 20.

[2016-07-14 17:30] OpenMatt opened #7 "Make tech decision for database front-end"
Goal is a simple visual interface for:
* seeing stories sorted by tag (e.g., issue tag, impact tag)

Options:
a) Pulse. tweaked version. working w. (@matthew)
b) Stori.es. https://www.stori.es/signin.jsp reuse open source codebase Consumers Union developed
c) WP plug-in Christine has sourced
d) something else. a lightweight way to visualize / tag / sort data in a spreadsheet.

[2016-07-14 17:31] OpenMatt commented on #7
@prefontaine where do we stand on (c)? is that blocked on having your developer do some additional work? maybe we should start with that as our best potential option, since it's the shortest potential path to done?

[2016-07-14 17:35] OpenMatt commented on #2
Let's close this for now and re-open pending the decision we make here:
https://github.com/MozillaFoundation/Story-Engine/issues/7

[2016-07-14 17:35] #2 closed

[2016-07-14 17:40] OpenMatt opened #8 "Add "issues" page to StoryEngine.io"
Move this page to the StoryEngine site, and add it to the nav / frontpage so people can find it: https://openmatt.org/our-issues/

[2016-07-14 17:41] OpenMatt opened #9 "Make a month-by-month roadmap now to end of year"

[2016-07-14 17:45] prefontaine commented on #8
Hi Matt. I did that this morning. And added filter by type. I'll make it more obvious. http://storyengine.io/our-stories/

[2016-07-14 17:56] OpenMatt opened #10 "Flesh out roadmap"
Review this together and ship an updated version in early August:
http://storyengine.io/roadmap/

[2016-07-14 17:57] OpenMatt commented on #1
Let's close and revisit pending https://github.com/MozillaFoundation/Story-Engine/issues/7

[2016-07-14 17:57] OpenMatt opened #11 "Add / synch Science hub stories"
@acabunoc has a spreadsheet full of impact stories she's been collecting. Let's add them or make a plan for how we want to work together going forward.

[2016-07-14 17:58] OpenMatt commented on #9
First draft complete here: http://storyengine.io/roadmap/

[2016-07-14 17:58] #9 closed

[2016-07-14 17:58] #1 closed

[2016-07-14 18:09] OpenMatt commented on #8
Ok awesome! Can we call it http://storyengine.io/issues instead? I'll update in the tip form.

[2016-07-14 18:09] #8 closed

[2016-07-14 18:41] OpenMatt opened #12 "Update our tagging / coding structure"
Here: http://storyengine.io/tags/

Especially important is: clearly document our _impact_ codes. They will change and evolve as we go and learn more. But surfacing a first cut on these is helpful and important.

[2016-07-14 18:43] OpenMatt opened #13 "Give Matt admin permissions on this repo"
@prefontaine did you create this repo? Matthew and I can't seem to access the settings tab. It means I can't assign tickets, create labels, etc. Did you create the repo by chance? If so, can you give me admin permissions?

[2016-07-14 18:45] OpenMatt opened #14 "Post our interview question set"
@prefontaine can you document your question set and add to the site?

[2016-07-14 18:52] OpenMatt commented on #12
@prefontaine I did a bit of work on this: http://storyengine.io/tags/

Main question it raises for me is: what are the best practises? We're probably not the only org trying to codify this kind of impact. Is there a standard set that we can copy / borrow from? Some kind of "open standard"-style approach we should use, to be more consistent with industry practise?

[2016-07-14 18:55] prefontaine commented on #13
No I didn't. I thought you did.

[2016-07-14 19:38] prefontaine commented on #14
Yep. Working on that plus methodology.

On Thu, Jul 14, 2016 at 2:45 PM, OpenMatt notifications@github.com wrote:

[2016-07-15 02:43] mmmavis commented on #7
@OpenMatt did you mean to tag @xmatthewx instead? 😄

[2016-07-15 03:46] OpenMatt commented on #7
yes thank you!

On Thu, Jul 14, 2016 at 7:43 PM, Mavis Ou notifications@github.com wrote:

[2016-07-18 17:54] prefontaine commented on #7
@OpenMatt I had a convo with @xmatthewx on Friday. We are going to see if we can have one form that folks fill out for both Pulse and StoryEngine tips. I'm waiting to hear back from @xmatthewx. So that is option (a) and covers the tips. In addition, I'm going to chunk up the story and put that into a spreadsheet, so it can be displayed using the same tech (although I do have some questions regardi

[2016-07-18 17:55] #5 closed

[2016-07-18 17:55] prefontaine commented on #5
@OpenMatt Ned is not available until October.

[2016-07-18 17:56] prefontaine commented on #4
@OpenMatt Okay I'll make a note to ping her when she gets back.

[2016-07-19 00:47] prefontaine commented on #12
@OpenMatt. Well if we are taking a grounded theory approach you don't borrow or look until you've started doing some coding. The idea is that you should have an open mind. That said, people do use theoretical frameworks -- and you could argue that your 21st-century skills and digital literacy framework provides a set of codes. Once I code a few more documents I'll look into that a bit more. // Tod

[2016-07-20 18:06] amirad commented on #4
Hey hey! I have the hard copies in the Dumbo office which I won't be heading to until next week. There are a lot of them though and not sure I have capacity in next couple weeks to input them. Also there were a few people who flagged that they didn't want their personas inputted in the storyengine (I asked when in London) but don't know which ones. We will need Meghan to help us figure that part o

[2016-07-20 18:07] amirad commented on #4
Totally open to anyone else in NYC to help input them into the form.

[2016-07-20 18:28] prefontaine commented on #4
Thanks, Amira! Even just some stories would be great -- I'd go for some
good examples, especially the ones that really brought issues to life,
versus being super comprehensive.

Matt we should discuss the private/public aspects. It should be okay for
some stories to remain private and only be used for feedback and
theory-building.

On Wed, Jul 20, 2016 at 2:07 PM, Amira notifications@github.com wr

[2016-07-22 21:16] xmatthewx commented on #7
Following my meeting with @prefontaine, I oriented our designer, developer, and program/community lead to the project. We clarified how these two initiatives overlap and diverge.

### Notes
- **Input**: Both projects seek to maximize input. They depend on a process with program staff. Intrinsic motivators will also be valuable. Input should make reporting and program review easier.
- **Categorizat

[2016-07-29 22:46] prefontaine commented on #7
Hi @xmatthewx. Thanks for this summary.

The fields I need to have a story filed are marked as mandatory on this
form. As is, the pulse one won't work for StoryEngine.

Thinking more about our discussion the difference between Network Pulse and
StoryEngine is that the latter focuses on humans/organizations as opposed
to makes/artifacts. Of course, the tow are closely connected. People will
discuss

[2016-07-29 22:55] prefontaine commented on #7
Here is setup for the qualitative data analysis file attributes, file categories, code categories, and codes (this will especially change as we are using grounded theory approach).
![attributes](https://cloud.githubusercontent.com/assets/892229/17265561/06766ad6-55be-11e6-9531-47c63f557bf5.png)
![file-categories](https://cloud.githubusercontent.com/assets/892229/17265565/08f75ffe-55be-11e6-8742-5a

[2016-08-02 20:09] OpenMatt commented on #7
Hi, guys! I'm fresh back from vacation myself and just getting caught up.

@xmatthewx re: "We can easily make a copy to populate with your story tips. We just might need to hide access behind a password."

could you go ahead and do that? that way @prefontaine and I can play around with the prototype as it already exists. and maybe I can come up with some ways to work around / social hack the issue

[2016-08-02 20:36] OpenMatt commented on #13
It was a 2-factor authorization issue. fixed.

[2016-08-02 20:36] #13 closed

[2016-08-02 20:44] OpenMatt commented on #12
ok thanks @prefontaine. And I'm excited to see how the RQDA stuff works!

I guess what I mean is: can we ship an initial draft list of impact or value codes we can start with. Then refine and update as we go and learn more? It will be helpful just to explain our thinking to colleagues.

The draft we have now at http://storyengine.io/tags looks like what's below. Any edits you'd want to make? Any w

[2016-08-02 20:48] OpenMatt commented on #12
If I apply this to Stuart's story, for example...
https://openmatt.org/stuart

I would probably code it:
- Professional connections (he met collaborators at MozFest)
- Social connections / networking (they became friends)
- Entrepreneurship & innovation (they invented an innovative project together)

What's potentially missing is:
- something about inter-disciplinary collaboration? he cites this a

[2016-08-02 21:45] OpenMatt commented on #12
Some feedback from Rizwan to feed in:

Amplified my "visibility"
Helped me build my brand
Connected me to other influential or relevant contacts
Helped expand my network
Amplified my leadership
Allowed me to have impact (more than I could have had working on my own)

(I have some ideas on how to fit these in -- just adding here so they don't get lost)

[2016-08-03 02:12] xmatthewx commented on #7
I just posted a link to your Robby Kraft Tumbleweed interview to Pulse (https://mzl.la/pulse). @KevZawacki has entered links to several news articles into Pulse as well. Pulse serves as a knowledge base or card catalog, linking out to assets that take many forms.

Definitely. I think it's useful to make this a one-stop experience for input, even if we split traffic after the initial step.

[2016-08-03 02:14] xmatthewx commented on #7
@OpenMatt – want to schedule a time to spin up an instance for you to hack on? We can get it on your github account. I have a couple of questions, but it shouldn't take us more than 15 or 20 minutes together.

[2016-08-03 14:37] OpenMatt commented on #7
sounds good! let’s do it Thurs?

[2016-08-03 17:18] OpenMatt opened #15 "Investigate "StoryThings" tool"
* Matt Locke runs Storythings. His company works with organisations to "use stories to solve problems"  http://storythings.com/
* deck explaining the tool: https://www.dropbox.com/s/rtff5ypl2mtz8bx/Outside%20The%20Bubble.pdf?dl=0
* Matt talking at a recent media conference in the Netherlands about streams and attention patterns: https://vimeo.com/172401769

* has World Wildlife Fund and Water Aid

[2016-08-03 17:18] OpenMatt commented on #15
- @xmatthewx @prefontaine let me know if you want to join?

[2016-08-03 17:20] OpenMatt opened #16 "Help nominate network members for recognition"
* pursuant to conversation with Rizwan. They're going to identify the  top-performing members of the network and send them a recognition letter
* we should make sure we log and selectively interview many of them

[2016-08-03 17:22] OpenMatt commented on #6
@samanthaburton any updates on timelines for your story selection process? I know we may be running up against your deadline soon. Let us know if additional interviews / stories from us would still be helpful for State of the Web?

[2016-08-03 17:50] xmatthewx commented on #15
Glad to join @OpenMatt if schedules align.

[2016-08-03 17:55] samanthaburton commented on #6
Hey @OpenMatt. Sorry I wasn't aware of this ticket! @KevZawacki and Kevin Fann from marketing have been leading on story creation, and we have a pretty solid idea of what stories we're moving forward with - there's a brief overview in the latter half of this deck: https://docs.google.com/presentation/d/1XXzQd4ZAXvRzgFwBg6HgZ5NTbVmFxTk0g34YUNnRU7I/edit#slide=id.g14d9341884_1_137

@KevZawacki would

[2016-08-03 18:12] OpenMatt commented on #6
perfect, thanks Sam. and no worries — we just wanted to try and pitch in if it was still useful.
but sounds like you guys are all squared away.

Christine, let’s document our “interview queue” anyway, so that we can make choices about who we want to prioritize / areas we want to test / learn, etc.

[2016-08-04 13:36] OpenMatt opened #17 "Add a "public versus private" column to spreadsheet"
And make sure it gets used.

[2016-08-04 16:29] OpenMatt opened #18 "Add useful Google Calendars to /calendar"
http://mofo.build/calendar/

@ldecoursy @damiankay do you guys have team Gcals you're using that would be helpful to add here?

[2016-08-04 16:49] ldecoursy commented on #18
We don't have one calendar for all MLN

[2016-08-08 16:48] damiankay commented on #18
Hi Matt - we don't have one either at the moment, although I plan to put
one together after my PTO.

On Thu, Aug 4, 2016 at 9:49 AM, Lainie DeCoursy notifications@github.com
wrote:

##

Damian Kuehn
Program Manager, Advocacy
Mozilla Foundation https://www.mozilla.org/en-US/foundation/

[2016-08-10 20:55] prefontaine commented on #7
@xmatthewx Thanks for posting that story example. Not sure what Tumbleweed is though — this story links to the raw interview on StoryEngine. Is that link wrong? Also... note that @OpenMatt this is a story for which we have permission. When I get back from vacation maybe we can brainstorm those for which we don't. For example Shauna was not comfortable providing permission for the interview that I

[2016-08-10 22:07] xmatthewx commented on #7
Tumbleweed is the name Robby gave to the hack day project. It appears in both of your links under Evidence. We can experiment with how we title and frame these. In fact...

I posted a duplicate link to the interview, this time with the title "[Interview: Robby Kraft on NASA Challenge](https://mzl.la/pulse?id=p1470866187000)". You can see both version if you tap "Latest" in the menu.

Glad to make

[2016-08-16 17:09] #18 closed

[2016-08-23 21:44] prefontaine commented on #17
@OpenMatt should we close this because we're going to focus on displaying stories rather than tips?

[2016-08-23 21:47] prefontaine commented on #16
@OpenMatt assuming that this will move forward once we touch base with Rizwan.

[2016-08-23 21:48] prefontaine commented on #15
@OpenMatt Any update on this... thinking for now we focus on interviews and put this to back burner.

[2016-08-23 21:48] prefontaine commented on #14
Done

[2016-08-23 21:48] #14 closed

[2016-08-23 21:49] #10 closed

[2016-08-23 21:56] prefontaine commented on #12
@OpenMatt I get your point re need to explain our thinking to colleagues. That makes sense to me.

I'll look at Rizwan's feedback and update our list and mind map. I created a test coding file -- not sure if you had a chance to see [the test file I sent July 18th](https://drive.google.com/a/facilitatingchange.org/file/d/0B98KdLMCIttwdFN3R3FyZ3AwWTA/view?usp=sharing) (need to view file in browser)

[2016-08-23 22:15] prefontaine commented on #11
@OpenMatt Agreed. Can you connect us? Also Meghan mentioned that there was someone -- Lotta? Maybe I mis-heard -- working with Mozilla internal comms who was interviewing folks with same 5 questions and that I should look at her findings.

[2016-08-23 22:18] prefontaine commented on #7
@OpenMatt just checking in on this. We're putting on back burner while we move ahead with interviews, posting our stories on StoryEngine.io, and coding?

[2016-08-23 22:21] prefontaine commented on #6
@OpenMatt got it. I've sent Sam a request to for access to the SOW deck.

[2016-08-23 22:34] prefontaine commented on #4
@OpenMatt @amirad — Back from summer vacation and checking in on this. Meghan had also mentioned these stories. She suggested I check in with Sam Burton.

[2016-08-23 22:36] samanthaburton commented on #6
@OpenMatt @prefontaine just gave you access, but the most recent version is now here: https://docs.google.com/presentation/d/1tBdDs1-mG1oOM4ERQ9dSfqPziVDh-vLXikn-xuWLA2A/edit#slide=id.gd58133b56_0_69

[2016-08-23 23:20] prefontaine commented on #6
@samanthaburton Thanks much!

[2016-08-24 17:04] OpenMatt commented on #17
yes! let's.

[2016-08-24 17:04] #17 closed

[2016-08-24 17:05] OpenMatt commented on #15
I met with the principal behind this -- no action items on it for now. Main takeaway was: we're going to investigate to see whether they might come join us at MozFest. And test their tool as a way to tell the story of the festival.

But: it shouldn't create any dependencies or added complexity for our own work. It's more like: throw them into the swimming pool and see if they swim. If so, great. I

[2016-08-24 17:30] OpenMatt commented on #12
Got it! Yeah I had trouble opening that file but just succeeded. If I understand it correctly, it suggests these impact codes:
- Social impact
- Empowering others
- Connections
- Collaboration

Am I right? I added these to the page in progress (nice updates btw)
 http://storyengine.io/tags/

This is evolving well. I'm ok for that file to be a messy work in progress for a while -- the more intervie

[2016-08-24 17:34] OpenMatt commented on #11
1) re: Lotta's internal comms work. I disagree -- her interviews are exclusively _MoFo staff._ So I don't think that data is interesting for us.

2) re: Science stories. I'd say we already have an early abundance of science stories from the network survey. Let's punt on this ticket for now and come back to it in October. I think by then we'll have more fleshed out on the site that will help us sho

[2016-08-24 17:35] OpenMatt commented on #7
yup. let's back-burner now that we a) have Pulse working in a prototype-y way, and b) have agreed to prioritize story production.

I'm going to close. We can always re-open later.

[2016-08-24 17:35] #7 closed

[2016-08-24 17:44] OpenMatt commented on #6
@prefontaine I think this ticket is our P1 right now -- we want to make sure we have a clear hit list / queue of folks we want to interview in rest of Aug / Sep. And ensure you feel like it's rich / meaty / diverse enough. And that you're fired up to work on it! (e.g., that those folks seem right / feel good to you.)

I'd suggest the easiest way is just to highlight rows in our tip spreadsheet. Th

[2016-08-24 17:46] OpenMatt commented on #4
@chrislarry33 is there someone in the NY office that we could ask to do some data entry on this? Basically just need someone to do an hour or so's worth of turning physical copies into digital form.

@prefontaine Sam Burton is not the right person on this one. I think the main blocker is we just need someone to do the data entry.

[2016-08-24 17:49] OpenMatt commented on #16
yep -- we're blocked on Rizwan for this. Nothing to do yet.

[2016-08-24 17:50] OpenMatt opened #19 "Incorporate impact stories into on-boarding"
Angela came up with an interesting use for this work -- to help explain what MoFo does to new hires across the org.

No action items here for a while -- but filing so we don't forget.

Even just good pull quotes that can be sprinkled through other docs, etc, help add empathy and understanding for what we do.

[2016-08-24 17:52] OpenMatt opened #20 "Create story posters for Hawaii all hands"
We may want some of these for our Oct board meeting. Or not. Filing here as placeholder.

[2016-08-24 17:54] OpenMatt opened #21 "Book Christine's travel for MozFest"
Working on it.

[2016-08-24 17:54] OpenMatt commented on #21
cc @chrislarry33 @prefontaine

[2016-08-24 17:55] OpenMatt opened #22 "Follow up on NY public library story"
@prefontaine will schedule interview once @chrislarry33 provides contact details for ghost writer

[2016-08-24 19:06] OpenMatt opened #23 "Discuss our interview transcription service / process"
@prefontaine is there a particular service you're using? I've used CastingWords in the past.
http://castingwords.com/

($1 / minute)

[2016-08-24 20:21] prefontaine commented on #23
@OpenMatt I'm not transcribing -- typing really fast and then sending to interviewee to clarify and approve (see Methodology on this, want it to express what they want to say vs verbatim of our convo).

[2016-08-24 20:22] prefontaine commented on #19
@OpenMatt LOVE IT!!!

[2016-08-24 20:25] prefontaine commented on #12
@OpenMatt Got it. Thank you.

[2016-08-25 09:25] abbycabs commented on #11
My spreadsheet is mostly keeping track of my communications with community members, when we've interviewed them, when we've followed up -- very CRM-like.

We can connect in October @prefontaine :)

[2016-08-25 13:32] OpenMatt opened #24 "Do interview(s) focused on combatting trolls / making the internet more civil / inclusive"
As part of bringing our "digital inclusion" issue to life, look for a leadership network / advocacy community member who is:

a) contributing to Mozilla's / New York Times "Coral" project
b) doing something else that's inspiring on this front

See for context:  this week’s Time magazine by Joel Stein:
Why We Are Losing the Internet to a Culture of Hate http://time.com/4457110/internet-trolls/

And

[2016-08-25 13:42] OpenMatt commented on #24
Could be: Lilah Raptopoulos, community manager at the Financial Times
- "She is not officially affiliated with Coral, but she participated in some of Coral’s initial brainstorms."
  http://www.cjr.org/tow_center/improving_audience_engagement_coral_project.php

[2016-08-25 14:37] OpenMatt commented on #23
hm! ok. in our next weekly, let's talk about whether sending an audio file to a transcription service might help the process.

[2016-08-25 14:54] prefontaine commented on #23
Sure thing. Pros are that it can be a bit easier for the conversation to flow. Cons are that transcriptions often require massaging. From my experience interviewing innovators at the bank I ended up going with simultaneous typing. That did not work with all interviewers though. You gotta type fast :)

[2016-08-25 15:05] prefontaine commented on #24
@OpenMatt I went to [Mozfest session on Coral last year](https://app.mozillafestival.org/#_session-572). Cannot find the etherpad. Would some of the folks who ran that be good candidates? I will look at Lilah. Ideally the person would see themselves as affiliated in some way with Mozilla. (also: Funny I was just reading that article on NPR comments this morning, via Sean Bonner, whom I met several

[2016-08-25 15:08] prefontaine commented on #24
@OpenMatt... Thinking more... One person to ask for leads (or even interview) might be Willow Brugh. She's been doing work on this called "Weaponized Social". Thoughts?

[2016-08-25 15:50] OpenMatt commented on #24
yes to both. good ideas.

On Thu, Aug 25, 2016 at 11:08 AM, Christine Prefontaine <
notifications@github.com> wrote:

[2016-08-25 16:10] amirad commented on #4
Hey all! Sorry for the delay in coming back to this. Meghan has taken the personas and documented them for use in some community mapping. I've gone over this with the team and since there were many concerns over content that was shared and making it public, it has been suggested that the personas be used for internal/private use only. Some of the information contain sensitive information and some

[2016-08-25 16:14] OpenMatt commented on #4
got it! thanks for clarifying Amira -- and no problem. makes total sense.

On Thu, Aug 25, 2016 at 12:11 PM, Amira notifications@github.com wrote:

[2016-08-25 16:14] #4 closed

[2016-08-25 16:47] prefontaine commented on #24
I'll reach out to them. Also looks like Sarah Jeong is a good candidate: https://app.mozillafestival.org/#_session-343

[2016-08-25 19:46] OpenMatt commented on #24
Already starting to line up candidates at MozFest like this is a great idea.

[2016-08-25 21:26] prefontaine commented on #24
@OpenMatt I sent Sydette an interview request but not sure about her email. I see online that she says she works with Coral/Mozilla. Does she have a Mozilla email?

[2016-08-26 21:51] samanthaburton commented on #6
Quick question - are you aware/following up with the Chronicle project, which I believe was led by Ben & Kevin? It was put on hold a few months ago, but I just came across some stories again and it struck me that it's probably v. relevant - if it's not on your radar, let me know and I'll send more notes etc via email

[2016-08-29 20:27] prefontaine commented on #6
@OpenMatt to discuss when we touch base tomorrow. Thanks, @samanthaburton!

[2016-08-29 20:54] OpenMatt commented on #6
@samanthaburton yes! I was aware of it -- but lost contact. Do you have a link / somewhere we can see & pull stories?

[2016-08-29 21:05] samanthaburton commented on #6
There are the two docs I've seen, @KevZawacki will likely know more!
https://docs.google.com/spreadsheets/d/1Kai28T3rdKqT6fNxqY7InBQy1WJA701lKjxYs50wpRM/edit#gid=1698045351
https://docs.google.com/document/d/13C7TC3U9LZMf8fl5njsi0fZfx2pulLBpt08u3LIdNBk/edit

[2016-08-30 12:14] KevZawacki commented on #6
Yep, @samanthaburton's second link contains all Chronicle stories

[2016-08-30 14:10] OpenMatt commented on #6
ok great! Christine, maybe you can read through those, pull any relevant
stories and then code and tag them on the site.

On Tue, Aug 30, 2016 at 8:14 AM, Kevin Zawacki notifications@github.com
wrote:

[2016-08-30 18:08] OpenMatt commented on #6
- goal is to schedule 3 interviews per day
- need to get more tips into queue
- let's start by looking at those Chronicle stories
- plus: let's start mining the MozFest session organizers + speakers

[2016-08-30 18:18] OpenMatt commented on #6
Priorities for interview queue:
1) mine the Chronicle
2) mine accepted MozFest proposals https://github.com/MozillaFoundation/mozfest-program-2016/issues
3) check in w. grant fundraising time (Matt will email)
4) ask Sam Dyson for Hive Chicago leads / tips (Christine will email)
5) ask Simona for Hive Toronto leads (Christine will email)

[2016-08-30 18:20] OpenMatt commented on #21
From Sarah: For christine you will need to add her as a guest to your egencia account, pamela can help her, and then book her flights for her.

I have captured Christine for you in the hotel room allocation but she will need to fill out the travel form as per staff travel email https://mzl.la/MozFesttravelform

[2016-08-30 18:22] OpenMatt commented on #21
For Hawaii: Matt will update this ticket asap.

[2016-08-30 18:22] OpenMatt commented on #16
Matt will nudge Rizwan on this one

[2016-08-30 18:26] OpenMatt commented on #23
This is mostly done -- just need to approve budget w. Chris once he's back from vacation

[2016-08-30 18:27] OpenMatt commented on #23
Our transcription budget for 2017 will be capped at $1000.

[2016-08-30 20:37] OpenMatt commented on #24
@prefontaine sorry I'm not sure who Sydette is

[2016-09-02 13:01] OpenMatt opened #25 "Get good photo from interview subjects"
We should add this as a standard part of our process.

[2016-09-02 13:13] OpenMatt opened #26 "Interview tips from Grants team"
(from Amira & Julia's work with the UN Women-funded project in Nairobi and Cape Town)
https://forum.learning.mozilla.org/t/mozilla-clubs-case-studies/962

Two of our three Regional Coordinators for the project (the two based in South Africa) have been nominated for what we believe is a fairly prestigious award http://www.itweb.co.za/index.php?option=com_content&view=article&id=155098
(all of the R

[2016-09-02 13:15] OpenMatt commented on #26
@prefontaine some good ones here! see what you think

[2016-09-02 13:16] OpenMatt commented on #24
@prefontaine let me know if you need more help / are blocked on this one

[2016-09-02 13:16] OpenMatt commented on #23
we can close this once we get approval from Chris

[2016-09-02 13:16] OpenMatt commented on #22
to discuss w. Chris in our next meeting

[2016-09-02 13:17] OpenMatt commented on #21
@prefontaine : are we all set? did you complete your travel plus fill in the form?

I'll file a separate ticket for Hawaii

[2016-09-02 13:19] OpenMatt opened #27 "Book Christine's travel for Hawaii"
@prefontaine I have more clarity now around the process for inviting contractors to Hawauu.

"There are space constraints for Hawaii (we've got the entire hotel booked, so we have no slack in supporting overage in our attendee numbers) and therefore, we will need to evaluate all requests for non-staff participation before we can approve any non-staff registration or travel booking. We cannot guara

[2016-09-02 13:24] OpenMatt commented on #27
@prefontaine I've taken a pass at that and have sent in. will let you know as soon as we hear back. But wanted to flag for you that we may not know for certain until Oct 30. though I will try to get an answer sooner.

[2016-09-02 13:27] OpenMatt commented on #6
I'm going to break those 5 items above into separate tickets

[2016-09-02 13:28] OpenMatt opened #28 "Pull interview leads from the Chronicle"
https://docs.google.com/document/d/13C7TC3U9LZMf8fl5njsi0fZfx2pulLBpt08u3LIdNBk/edit

@prefontaine can evaluate this to see:
a) whether these can be imported and tagged as is, or
b) flag for follow-up interviews as needed

[2016-09-02 13:29] OpenMatt opened #29 "Schedule interviews with a select number of MozFest session leads"
https://github.com/MozillaFoundation/mozfest-program-2016/issues

blocked on: waiting for Sarah to give us the green light, once they have been accepted

[2016-09-02 13:30] OpenMatt opened #30 "Ask Sam Dyson for Hive Chicago interview leads"
with an emphasis on: pulling from work they've already done, blog posts already written, etc.

e.g., explore whether we can pull from existing assets, as opposed to just a list of names. To leverage any good work they've already done in this area.

[2016-09-02 13:31] OpenMatt opened #31 "Ask Simona for Hive Toronto leads"
same approach as per Sam in Chicago

[2016-09-02 13:31] OpenMatt commented on #6
Closing this now, as all the others have been filed as separate tickets

[2016-09-02 13:31] #6 closed

[2016-09-02 13:32] OpenMatt opened #32 "Make sure Christine + Matt have microphones for MozFest"
What we need: 3 x lavalier microphones

[2016-09-02 13:33] OpenMatt commented on #32
brett's on vacation til next week I believe. we can let this sit til he's back.

[2016-09-02 13:33] OpenMatt opened #33 "Synch up with comms team around MozFest plan"
Matt should book a meeting w. @KevZawacki to talk through ways our interview work at MozFest can support our general comms and storytelling efforts

[2016-09-02 13:47] OpenMatt opened #34 "Extract story tips from Pulse"
If you click on "latest" tab here: http://mozilla.github.io/network-pulse/

There's lots to explore. Plus: new support for sorting by our issues.

[2016-09-06 14:30] OpenMatt commented on #34
@prefontaine maybe you can set the right priority level for this one, based on what else you have in your interview queue?

[2016-09-06 14:32] OpenMatt commented on #33
Booked a meeting for Thurs. Will follow up once done.

[2016-09-06 14:33] OpenMatt commented on #31
I had a chat w. Meghan Friday -- she suggested again that this would be a good idea.

[2016-09-06 14:34] OpenMatt commented on #28
@prefontaine it would be good for us to prioritize these various input sources together, so we know which ones to focus on first -- pre MozFest

[2016-09-06 14:35] OpenMatt commented on #26
need to prioritize this versus the others

[2016-09-06 14:35] OpenMatt commented on #25
@prefontaine can you add this to the documentation / "how to", and then we can just mark it done?

[2016-09-06 14:36] OpenMatt commented on #24
@prefontaine let's discuss next steps in our stand-up

[2016-09-06 14:37] OpenMatt commented on #21
@prefontaine can we mark this one closed?
are you all set?

[2016-09-06 14:39] OpenMatt commented on #16
I asked Rizwan for an update. Let's assume this won't happen this month and then re-sched as we know more.

[2016-09-06 14:39] OpenMatt commented on #15
Matt needs to follow up with them. On my to do list this week.

[2016-09-06 14:41] OpenMatt commented on #12
Moving this to October. This document from Meghan is interesting in terms of some of their own early coding / pattern-matching / persona creating.
https://docs.google.com/document/d/1VqqUMCgWNaT5mbxFuucpki_JJ8WlBCJTAC1MSm2DCTs/edit

No action items on this ticket for September -- just filing here for reference.

[2016-09-06 14:45] OpenMatt opened #35 "Turn completed transcripts into polished stories"
@prefontaine do you have transcripts back from the transcription service yet? If so, can you shared them here / post to the web site?

We should also discuss our process / workflow for this. e.g., how do we want the production process to work in terms of turning transcripts into more polished stories on the web, following the rough model  / template we created for Stuart.

[2016-09-06 15:11] OpenMatt commented on #35
Maybe we should start by documenting the steps in the process here:

[2016-09-06 15:12] OpenMatt opened #36 "Work out a process for non-English speaking interviews"

[2016-09-06 15:22] OpenMatt opened #37 "Document and apply CC licensing to stories"

[2016-09-06 16:12] prefontaine commented on #26
Mmaki was already on my list. Great great interview. Wow. And she recommended I speak to Baratang, that is set up for Thursday (I ask folks who else I should speak to — snowball sample). I'll follow up with the others.

[2016-09-06 16:14] prefontaine commented on #24
I would like some more leads in this direction, but let me see if there are
more in the sources I have prioritized before I reach out for more help on
this.

On Tue, Sep 6, 2016 at 10:36 AM, OpenMatt notifications@github.com wrote:

[2016-09-06 16:15] prefontaine commented on #21
Waiting to hear back from Pam as I cannot confirm flight. Submitted form
for hotel.

On Tue, Sep 6, 2016 at 10:37 AM, OpenMatt notifications@github.com wrote:

[2016-09-06 16:55] prefontaine commented on #37
Done. Added to footer and "Giving Back" section of methodology.

[2016-09-06 16:55] #37 closed

[2016-09-06 16:58] prefontaine commented on #25
Done

[2016-09-06 16:58] #25 closed

[2016-09-06 17:25] prefontaine commented on #22
I will craft email and put it here. Adding what sparked about this story.

[2016-09-06 18:54] OpenMatt opened #38 "Interview Gina Grant"
via Chad Sansing

Chad recently worked with Gina Grant (ggrant@architecture.org) of the Chicago Architecture Foundation to adapt an activity from last year's MozFest for our teaching activities on https://learning.mozilla.org/activities.

Dorine Flies, of [MozFest] Youth Zone fame, put us in touch. Gina and I have been helping CAF devs revise the activity and migrate it into our new curriculum tem

[2016-09-06 19:06] OpenMatt opened #39 "Feed stories into Pulse + Medium streams"
work w. @KevZawacki on this later this month.

[2016-09-06 20:29] OpenMatt commented on #16
Update from Rizwan:

We are pushing the teams hard to get their nominations in ASAP so that we can then triage and begin to finalize the shortlists. The pace of the nomination worries me but we should hopefully have all nominations in latest by the final week of Sept. We can think of sharing names by mid-Oct or so.

[2016-09-07 16:07] OpenMatt commented on #16
suggestion from @chrislarry33 : take some of the stand-out interviews we've done and nominate those people into Rizwan's recognition queue.

(e.g., instead of us waiting for him, we can also help feed into his work and process there.)

[2016-09-07 16:07] OpenMatt commented on #16
@prefontaine do you have any early "top 3" or "top 5" people you've interviewed so far?

[2016-09-07 16:09] OpenMatt commented on #16
cc @rtufail

[2016-09-07 16:15] prefontaine commented on #16
@OpenMatt @rtufail @chrislarry33 - I'd say Mmaki Jantjies for sure. Let me think on others.

[2016-09-07 16:30] OpenMatt commented on #16
@rtufail has a Google Form set up for this -- maybe he can drop it here and @prefontaine can fill it in.

[2016-09-07 16:31] OpenMatt commented on #16
Key learning to file here for our next Heartbeat meeting: merging these two pieces of work is a priority going forward.

[2016-09-07 17:40] rtufail commented on #16
Thanks for your help on this. The form is at: https://docs.google.com/a/mozillafoundation.org/forms/d/1xo0CHYiox1vygzs7M_WOI3-PdZXVOMw6uQIhiM327kE/

[2016-09-07 17:49] OpenMatt commented on #16
Christine, do you think you could make 3 - 5 nominations using that form based on the interviews you’ve already done?

[2016-09-07 18:02] prefontaine commented on #16
Yes. Will do!

On Wed, Sep 7, 2016 at 1:49 PM, OpenMatt notifications@github.com wrote:

[2016-09-07 19:47] OpenMatt commented on #23
approved

[2016-09-07 19:47] #23 closed

[2016-09-07 19:53] OpenMatt opened #40 "Update our consent form and streamline consent UX"
To radically simplify to something like:

"I understand that all Mozilla Network stories are shared under the CC-BY-SA license. And I'm cool with that."

+  whatever additional legal-ese or copy is required.

(agree check box)

And then just link to the CC-BY-SA  license details.
https://creativecommons.org/licenses/by-sa/4.0/

[2016-09-07 20:00] OpenMatt commented on #40
@prefontaine will start by drafting copy here first

[2016-09-07 20:08] OpenMatt commented on #40
let's make this a P1 since it will simplify potential issues we encounter later in the process / as we gather more stories

[2016-09-07 20:27] OpenMatt commented on #21
any news on this one?

[2016-09-07 20:30] prefontaine commented on #21
Flights ok. Hotel not yet confirmed. Thanks for checking!

On Wed, Sep 7, 2016 at 4:27 PM, OpenMatt notifications@github.com wrote:

[2016-09-07 20:38] prefontaine commented on #40
Done. But it's not radically simple... I actually added a piece. Open to
discussing making radically simple. But I'd want to know the risks to doing
that.

On Wed, Sep 7, 2016 at 4:08 PM, OpenMatt notifications@github.com wrote:

[2016-09-08 18:13] OpenMatt opened #41 "Schedule interviews / make a plan for interviewing MozFest speakers"
- @KevZawacki will be in touch once the time is right

[2016-09-08 18:18] OpenMatt commented on #41
- @prefontaine nothing to do here yet, but a good idea from Kevin to interview some of the high-profile speakers / execs etc. who will be appearing at MozFest
- as with session leads, we'll want to be sure to carefully respect Kevin & Sarah's process with these high-value relationships, and wait til we get the green light before emailing these speakers  / reaching out

[2016-09-08 18:20] OpenMatt commented on #40
I'm not sure where to see the latest consent form.

Is it this link? I don't see any changes on it.
https://docs.google.com/a/mozillafoundation.org/forms/d/e/1FAIpQLSfANu2fd4diQ7bDqDnEEXlaDnow8NIhK3P89sbRpZNRUUDvsg/viewform?c=0&w=1

[2016-09-08 18:22] OpenMatt commented on #40
I guess I'm also a bit unsure of how the consent UX works, between the google form and the google doc
https://docs.google.com/document/d/1VAA-Hhp6zdyGhkVmwEbaqf5UjhSjyVgLC5yta3OspUA/edit

Can we simplify / streamline the overall process for how we present and receive consent for users?

[2016-09-08 18:42] prefontaine commented on #40
Oooops that was an artifact from the testing phase. I've removed the link to the form. We should, however, have some printed out for Mozfest. The only change would be ability for parents to sign for minors.

[2016-09-08 18:43] prefontaine commented on #41
Absolutely. This should be to support those relationships and Mozfest...
not get in the way :)

On Thu, Sep 8, 2016 at 2:18 PM, OpenMatt notifications@github.com wrote:

[2016-09-08 19:32] OpenMatt commented on #39
There are two key streams for us to feed into
- Read, Write, Participate (web literacy + inclusion) https://medium.com/read-write-participate
- Advocacy https://medium.com/mozilla-advocacy

[2016-09-09 05:28] anmechung commented on #26
- [ ] 1) Kylee Durant
  Mozilla's partnership with RP/6 to train veterans, military families and personnel on web literacy:
  https://medium.com/read-write-participate/digital-skills-on-the-path-forward-56f3291cfe9#.os8hxs99a  I would recommend interviewing Kylee Durant COO at RP/6
- [ ] 2) Pull from NSF report
  Lindsey just submitted a great report to NSF about successes and lessons learned to d

[2016-09-09 11:58] OpenMatt commented on #26
This is outstanding! Thank you An-Me!

[2016-09-09 12:17] OpenMatt commented on #35
Hey @prefontaine -- if you have a lull in your interview work, maybe we can prioritize this one. I think it'd be useful for us to see all the steps in the process and see if we can streamline.

We can just write the steps down on our notes pad:
https://public.etherpad-mozilla.org/p/stories

I started by taking a quick and dirty first pass

[2016-09-09 13:03] prefontaine commented on #26
Amazing. Thank you so much. Looking forward to talking to all of these
folks!

On Fri, Sep 9, 2016 at 7:58 AM, OpenMatt notifications@github.com wrote:

[2016-09-09 13:26] prefontaine commented on #40
Matt I'm open to streamlining this further. But if it is okay with you the way it is then we can close this ticket.

[2016-09-09 13:27] prefontaine commented on #35
Thanks for the great notes. I made a few edits. Let me know what you think. The main place I see where we can streamline is to cut out the final approval of the story. I'm torn on that one though, because it shows a lot of respect for respondents ability to express what they want to say publicly -- and I've gotten good feedback for that.

[2016-09-09 13:42] OpenMatt commented on #35
makes sense. let's add to our next weekly. maybe we can hack on it a bit together.

[2016-09-09 13:56] rtufail commented on #16
Hi Christine, would you be able to nominate a few today, and possibly a timeline for the others? We did communicate an original deadline of today (9/9) to staff but will be extending. Thanks for your help on this - greatly appreciated.

[2016-09-09 14:00] prefontaine commented on #16
I am doing that now. But a lot of the questions I cannot answer. Either
because I don't know interviewees interactions with Mozilla staff or
because the only input I have is one interview. I will just submit what I
know and send you the transcripts once I receive them. For the scales at
the end I'm totally not the person to fill those out. I'm just putting 10
for now and you can follow up with the

[2016-09-09 14:09] rtufail commented on #16
Great, thanks

[2016-09-09 14:21] OpenMatt commented on #16
That all makes perfect sense, Christine -- thanks for diving in with
limited information. Helpful!

[2016-09-09 14:45] LindseyInCHA commented on #26
@OpenMatt  Here's the NSF report: https://docs.google.com/document/d/1_NkrUUK2ZS46_dYlptQoK36HwgzD2YNxAJMUXsmHCIM/edit#

[2016-09-09 15:09] OpenMatt commented on #26
Thank you!

[2016-09-09 16:34] prefontaine commented on #16
@rtufail I've submitted three and just need a bit of time to think on the rest. May be a few more.

[2016-09-09 16:42] chrislarry33 commented on #16
huge thanks @prefontaine and @OpenMatt for adding! We can make sure any gaps in application are filled in

[2016-09-09 16:59] rtufail commented on #16
Excellent - thanks

On Fri, Sep 9, 2016 at 12:34 PM, Christine Prefontaine <
notifications@github.com> wrote:

[2016-09-11 05:26] rtufail commented on #16
@prefontaine and @OpenMatt, I know we had spoken about how the nomination process can also help accelerate your work. Feel free to take a look at this link (https://docs.google.com/spreadsheets/d/1wOW6gzIXVZBHfPsqRGHLwKqMVZXGpKJVQeX5j53_8wM/edit#gid=0), which has the current list of all people who have been nominated so far. Might spark ideas about some names. I can also share the nomination info

[2016-09-12 14:29] OpenMatt commented on #16
@rtufail one question we have about this is: what's the criteria in terms of their direct affiliation with / belonging to the Mozilla universe?
- e.g., some people are clearly aligned / all-in on Mozilla (e.g., they're Club Captains, have been volunteers for years, etc.)
- others are clearly aligned with our _issues_, but less aligned with Mozilla.

(Christine and I were talking about this breaks

[2016-09-12 14:30] OpenMatt commented on #40
Let's mark this done for now, continue testing with interviewees, and re-visit in October to see what we learned

[2016-09-12 14:38] OpenMatt commented on #35
This is done for now: https://public.etherpad-mozilla.org/p/stories

Let's revisit in Oct

[2016-09-12 14:40] OpenMatt commented on #33
Met w. Kevin -- we're all set.

[2016-09-12 14:40] #33 closed

[2016-09-12 17:07] rtufail commented on #16
Great question, @OpenMatt

We are open to both kind of nominations. One of the objectives of the R/R strategy is to intentionally develop that sense of membership, and to draw people - who might already be aligned with the issues - more formally into the Mozilla 'universe'.

I think mapping people on the matrix is great. If we imagine alignment to Mozilla on the horizontal and alignment to issues

[2016-09-12 18:20] prefontaine commented on #16
Thanks for the clarification. Will post more today and explain where I
think the person falls in the matrix :)

On Mon, Sep 12, 2016 at 1:07 PM, Rizwan Tufail notifications@github.com
wrote:

[2016-09-20 19:19] KevZawacki commented on #39
Hi @OpenMatt, following up... any story engine pieces ready for publication?

[2016-09-20 21:46] prefontaine commented on #39
Hi @KevZawacki. Not yet ready for publication, as far as I know. But we are adding more and more stories here: http://storyengine.io/category/stories/. This is the raw material to craft the pieces for Medium. It is open content.

[2016-09-22 14:10] OpenMatt commented on #41
@Saallen any updates on this one? Just checking in!

[2016-09-22 14:20] OpenMatt opened #42 "Hand over raw transcripts to Matt"
So that Matt can work on them while Christine's away.

[2016-09-22 14:21] OpenMatt commented on #21
@Saallen any news on Christine's hotel?

[2016-09-22 14:22] KevZawacki commented on #41
We're learning our speakers are a pretty busy bunch -- it's hard enough extracting a bio and headshot.

We may be able to capture interviews on-site, but I don't think pre-MozFest interviews are in the cards.

[2016-09-22 14:26] OpenMatt commented on #16
I spoke to @prefontaine -- she will review the list of existing nominees and see if she has more to add.

[2016-09-22 14:28] OpenMatt commented on #16
I spoke to @prefontaine -- she will review the existing list and add others if she can.

[2016-09-22 14:29] OpenMatt commented on #32
Matt will try to talk to Brett today

[2016-09-22 14:31] OpenMatt commented on #24
Christine has interviewed:
- Sydette
- Willow
- Emily May
- Hera (tmrw)

[2016-09-22 14:33] OpenMatt commented on #42
best process would be: Matt cleans them up and then sends to Christine

[2016-09-22 14:34] OpenMatt commented on #39
@KevZawacki I'm going to turn some of those raw interviews into more polished stories and share with you next week.

[2016-09-22 14:37] OpenMatt opened #43 "Update our story engine process diagram"
Intake, Analysis, Output

include is the middle "analysis" piece:
concierge / match-making / calls to action

[2016-09-22 14:45] prefontaine commented on #16
@rtufail Matt sent me the names — but could you please give me access to the spreadsheet? I will also let you know when there are people that I "+1" — already see a few of those on there.

[2016-09-22 14:49] OpenMatt commented on #41
ok makes sense -- thanks Kevin.

what's the best process from your perspective for trying to schedule an
on-site interview with these folks in advance? (and also: let us know if
you want to work with us on the interview / do the interview / etc.?)

On Thu, Sep 22, 2016 at 10:22 AM, Kevin Zawacki notifications@github.com
wrote:

[2016-09-22 14:55] KevZawacki commented on #41
@OpenMatt I think the best bet is spending time in the D+D area during the talks. Speakers will be there before and after their talks, and would happily (I presume) chat.

[2016-09-22 15:27] rtufail commented on #16
@prefontaine - Sure. can you drop me an email at rizwan@mozillafoundation.org

[2016-09-22 17:10] OpenMatt commented on #41
great. what's D+D area again?

On Thu, Sep 22, 2016 at 10:55 AM, Kevin Zawacki notifications@github.com
wrote:

[2016-09-22 17:19] KevZawacki commented on #41
Walker Room (first floor)

[2016-09-23 20:56] prefontaine commented on #42
Hi Matt. I'm sending you transcripts via email.

[2016-10-03 13:55] OpenMatt commented on #42
I didn't have time to do anything with these last week. Too busy w. 2017 planning. Let's mark closed.

[2016-10-03 13:55] #42 closed

[2016-10-03 13:57] OpenMatt opened #44 "Make a MozFest playbook"
Detailing our schedule and general plan of attack for the Festival

[2016-10-03 13:57] #40 closed

[2016-10-03 13:58] OpenMatt commented on #39
I'll get one or two stories to @KevZawacki this week.

[2016-10-03 14:19] OpenMatt opened #45 "Ship key learnings document for Hawaii: draft 0.1"
Draft is here:
https://docs.google.com/document/d/1ymcWVTgfNwpE9lDUD5KP2sLDBPHtjklDSgHewnBoF_o/edit#

Care and attention to not making it extractive
People like and see value in the process — examples of this:
- Connecting with others…
- Learning from each other: ideas, models inspiration
- Benchmarking // self-evaluation
- “Thank you for giving me a chance to think this through”
- How did others

[2016-10-03 14:19] OpenMatt opened #46 "Discuss hiring an intern w. Chris"

[2016-10-03 14:23] OpenMatt opened #47 "Add "sub-themes" as tags"
e.g., under "Inclusion"
"women and trolling"

These will allow us to bank stories in a more fine-grained ways for future campaigns, focus areas, etc.

[2016-10-03 14:46] OpenMatt opened #48 "Update credit card info on Casting Words"
So that it gets billed directly to Mozilla, instead of to Christine.

@chrislarry33 can you maybe provide @prefontaine with a card to use?

[2016-10-03 14:49] OpenMatt commented on #32
we're going to forget about video -- and just focus on capturing audio.

[2016-10-03 14:49] OpenMatt commented on #29
@Saallen any updates on this one! We're excited for MozFest. :)

[2016-10-03 14:50] OpenMatt commented on #16
@rtufail where are we on this? Do you still need more nominations from @prefontaine -- or do you hav enough at this point?

[2016-10-03 14:52] #21 closed

[2016-10-03 14:52] OpenMatt commented on #27
@chrislarry33 any updates here?

[2016-10-03 15:04] rtufail commented on #16
We have enough at this point. It would help if @prefontaine could provide additional feedback on a couple of the nominations, though. Have emailed here already ... will remind now

[2016-10-03 15:20] prefontaine commented on #16
@rtufail I will provide that feedback -- apologies was unable to get to this while in India.

[2016-10-03 15:53] Saallen commented on #29
Hey- YES! 🚦
Every issue open on github has now been accepted. How can we set you up for success here?

[2016-10-03 16:31] brettgaylor commented on #32
I have one wireless mic and digital audio recorder, if you want.

On Mon, Oct 3, 2016 at 7:49 AM, OpenMatt notifications@github.com wrote:

[2016-10-03 17:57] OpenMatt commented on #32
I do! Thanks Brett.

On Mon, Oct 3, 2016 at 12:31 PM, Brett Gaylor notifications@github.com
wrote:

[2016-10-04 19:19] rtufail commented on #16
@prefontaine a gentle nudge. Looking to close off all the nomination data soon so your feedback on the folks we discussed would be great

[2016-10-05 00:23] prefontaine commented on #16
Thanks for the nudge @rtufail. I added on the 3 you mentioned. Please let me know if you need anything more.

[2016-10-06 03:18] rtufail commented on #16
excellent .. thanks

[2016-10-07 19:41] prefontaine commented on #26
Oh... one more thing... An-Me please keep me posted on the Michigan
Department of Education initiative. Also, I cannot access the NSF report —
have sent a request via Googledocs. Thank you!

On Fri, Sep 9, 2016 at 1:28 AM, An-Me Chung notifications@github.com
wrote:

[2016-10-07 20:00] prefontaine commented on #31
Email sent to Simona.

[2016-10-07 20:01] prefontaine commented on #30
Email sent to Sam.

[2016-10-07 20:08] prefontaine commented on #29
@Saallen Awesome! Maybe I should simply go through the issues and pick the folks I'd like to interview. The leads I've been following so far have been quite responsive — even though my emails come out of the blue — so, if it is okay with you, how about I reach out to folks directly, letting them know how I learned about them. Of course, I'm happy to send you a list beforehand if you'd like to reac

[2016-10-08 13:16] Saallen commented on #29
@prefontaine happy for you to continue to contact as you see fit

[2016-10-08 17:20] prefontaine commented on #29
Thanks @Saallen. @OpenMatt you can remove the "blocked" tag — for some reason Github is not letting me edit the issue. I now have two-factor authentication.

[2016-10-20 15:02] OpenMatt commented on #15
Closing.

[2016-10-20 15:02] #15 closed

[2016-10-20 15:02] OpenMatt commented on #48
@prefontaine you should have what you need to close this now?

[2016-10-20 15:10] OpenMatt commented on #32
I've got my microphone all set. Christine, do you?

[2016-10-20 15:10] OpenMatt commented on #16
marking this done! great work Christine.

[2016-10-20 15:10] #16 closed

[2016-10-20 15:11] OpenMatt commented on #27
Christine -- I believe this is done?

[2016-10-20 15:11] OpenMatt commented on #27
can you close if so?

[2016-10-20 17:19] OpenMatt commented on #32
@brettgaylor are you able to bring that mic for us to use? thanks!

[2016-10-20 17:21] OpenMatt opened #49 "Email interview invitation to "recognition list" members"
- Christine's standard outreach email should be fine.
- Combined with: "hey are you going to be at MozFest? If so we'd love to interview you in person. Please go here [link] to schedule a time?"

[2016-10-20 17:22] OpenMatt commented on #49
@prefontaine will try to get these out today / tmrw

[2016-10-20 17:29] OpenMatt commented on #41
@prefontaine : Here's more information plus speaker's list: https://medium.com/mozilla-festival/everything-you-need-to-know-about-mozfests-speaker-series-af8eb8f186bf#.7nm3xed68

Zeynep Tufekci // @zeynep
Professor, University of North Carolina. Contributor, New York Times
On Digital Inclusion and Decentralization
Speaking Saturday, Oct. 29 at 11:15 a.m.

Brian Behlendorf // @brianbehlendorf
Execu

[2016-10-20 17:30] OpenMatt commented on #41
@prefontaine this one might be about scheduling time into our place to button-hole these people before or after they speak.

[2016-10-20 17:33] OpenMatt commented on #29
next step: @prefontaine will review and develop a target list of session leads we most want to interview

[2016-10-20 17:49] OpenMatt opened #50 "Make a MozFest interview schedule"

[2016-10-20 17:50] OpenMatt opened #51 "Test Calendly"
To see if it's good for (a) MozFest scheduling, or (b) scheduling in general.

[2016-10-20 17:57] OpenMatt commented on #51
Sent test to @prefontaine

[2016-10-20 17:59] OpenMatt opened #52 "Create a simple web page documenting our MozFest work + how to help"
Including: instructions for interested staff / volunteers

[2016-10-20 18:00] OpenMatt opened #53 "Email staff to seek volunteer interviewers"

[2016-10-20 18:02] OpenMatt opened #54 "Ensure we have a quiet-ish space to interview"
@Saallen @KevZawacki  : is there someplace close to the Comms area that we can use to do interviews? We will need two separate / relatively quiet spaces we can use to interview people.

[2016-10-20 20:47] Saallen commented on #54
@OpenMatt back of the 5th floor is a good option

[2016-10-24 16:59] prefontaine commented on #41
Hey @OpenMatt @KevZawacki @Saallen — getting down to the nuts and bolts of scheduling speakers and participants. We're generally asking folks to meet us in back of the 5th floor (see https://calendly.com/christine-prefontaine/storyengine-mozfest/). I am wondering if it is possible to send speakers a heads up so that we can book and block off their interview times (they run about 45 minutes). I can

[2016-10-24 17:20] KevZawacki commented on #41
Hi @prefontaine,

I'm currently chasing down a handful of outstanding items from our speakers (legal releases, slide shows, talk titles), and so am reluctant to add another ask.

Our best bet is to hang out in the Speaker Series space and grab them shortly after their talk.

[2016-10-24 17:55] prefontaine commented on #41
Hi @KevZawacki. Totally understand. Thanks very much!

[2016-10-25 13:55] OpenMatt commented on #54
Thanks @Saallen !

[2016-10-25 13:55] #54 closed

[2016-10-25 13:55] OpenMatt commented on #53
Matt will reach out to some people today / tmrw

[2016-10-25 13:56] #51 closed

[2016-10-25 13:56] OpenMatt commented on #48
@prefontaine good to go?

[2016-10-25 13:56] #44 closed

[2016-10-25 13:56] OpenMatt commented on #32
Christine has a lavalier mic -- Matt will bring two more.

[2016-10-25 14:32] prefontaine commented on #41
Hi @KevZawacki. An update: We've talked it through and decided better to request the StoryEngine interview after Mozfest. As a follow up. Grabbing one of these folks for a full 30-45 minutes right after they talk may not feel good to them. Plus, after they'll have the experience of being at Mozfest to reflect on.

[2016-10-25 18:12] brettgaylor commented on #32
Sorry for delays - do you need audio recorder and lav mic?

On Oct 25, 2016 6:57 AM, "OpenMatt" notifications@github.com wrote:

[2016-10-25 18:21] prefontaine commented on #54
Is there a map of the interior that I could point folks to? Or a photo --
see attached, is this the right place? I've found that's worked well in the
past — with buildings simpler than Ravensbourne. Lots of folks will have
been there before... but for the new folks might be helpful.

On Thu, Oct 20, 2016 at 4:47 PM, Sarah Allen notifications@github.com
wrote:

[2016-10-25 18:42] prefontaine commented on #48
I think so. I have the info and am going to post a bunch of audio files
today.

On Tue, Oct 25, 2016 at 9:56 AM, OpenMatt notifications@github.com wrote:

[2016-10-25 18:42] prefontaine commented on #41
Do you think we need to adjust questions for these folks? Not sure about
their level of involvement as part of the Mozilla network — vs being
luminaries that we're bringing in.

Also... I'd like to block off the times to meet each one of them. Wondering
if that can be done in alignment with their talk. Say, book them 30 minutes
after their session? Thoughts?

On Thu, Oct 20, 2016 at 1:29 PM, OpenM

[2016-10-25 18:51] prefontaine commented on #49
I will put that list of folks into the StoryEngine tracker spreadsheet --
so that we can track who has responded, etc.

On Thu, Oct 20, 2016 at 1:21 PM, OpenMatt notifications@github.com wrote:

[2016-10-25 18:56] OpenMatt commented on #32
Hey Brett. If you have an extra lav mic, that'd be great!

On Oct 25, 2016 2:12 PM, "Brett Gaylor" notifications@github.com wrote:

[2016-10-25 21:12] brettgaylor commented on #32
OK I'm going to bring a sennheiser wireless mic and receiver, a sony powered shotgun mic, a ZOOM audio recorder and various doo-dads.  My wireless doesn't have a clip so you might need to get creative.

[2016-10-25 21:41] prefontaine commented on #48
All good. You can close this.

[2016-10-25 21:54] prefontaine commented on #32
thank you!

On Tue, Oct 25, 2016 at 5:12 PM, Brett Gaylor notifications@github.com
wrote:

[2016-10-27 12:17] prefontaine commented on #49
This is done.

[2016-10-27 17:28] prefontaine commented on #52
@OpenMatt I started by making the interview question page more robust — including some scripts and instructions: http://storyengine.io/interview/. Next, I'm going to create a Mozfest page on StoryEngine and then link to this. Thoughts?

[2016-10-27 22:14] prefontaine commented on #52
And here's simple web page: http://storyengine.io/mozfest2016/

[2016-11-07 15:18] #53 closed

[2016-11-07 15:18] #52 closed

[2016-11-07 15:19] #50 closed

[2016-11-07 15:19] #49 closed

[2016-11-07 15:19] #48 closed

[2016-11-07 15:19] OpenMatt commented on #46
@prefontaine still interested in this?

[2016-11-07 15:20] OpenMatt commented on #39
@KevZawacki I have failed at this, but am determined to get this done this week.

[2016-11-07 15:21] #32 closed

[2016-11-07 15:21] #41 closed

[2016-11-07 15:22] OpenMatt commented on #27
@prefontaine closing this one

[2016-11-07 15:22] #27 closed

[2016-11-07 16:14] KevZawacki commented on #39
@OpenMatt Thanks for the update -- looking forward!

[2016-11-08 13:37] prefontaine commented on #46
No need. Calendly has dealt with the scheduling issue. Yay!

[2016-11-14 15:22] OpenMatt opened #55 "Ship facilitation plan for skill-share: how to interview"
Deliverables:
* Facilitation plan. Documented here: https://docs.google.com/document/d/1q2ECo6Bf_5clAnQPw615t-NowjzcyhpV-traNWYO_J0/edit#
* "How to interview" resource kit (linked back to the website)

[2016-11-14 15:30] OpenMatt commented on #55
Goal for this: prototype a 1-hour training sessions. That we could use to onboard volunteer interviewers into the process next year.

[2016-11-14 15:30] OpenMatt commented on #55
Next step: Christine to take first pass at the facillitaiton document

[2016-11-14 15:33] OpenMatt opened #56 "Ship facilitation plan for skill-share: what we learned"

[2016-11-14 15:36] OpenMatt commented on #45
Next step: ship version 0.1 of that document
- scope: ship a set of 5 - 10 bullets or memes at the top of the doc

[2016-11-21 15:17] OpenMatt commented on #43
Punting to Dec

[2016-11-21 15:19] OpenMatt opened #57 "Interview some of the "non-profit software developer summit" attendees"

[2017-01-09 19:24] OpenMatt commented on #57
Closing this as it feels old. But @prefontaine: re-open if there was someone there you think is a particularly good get.

[2017-01-09 19:26] #56 closed

[2017-01-09 19:26] #55 closed

[2017-01-09 19:28] #46 closed

[2017-01-09 19:28] #45 closed

[2017-01-09 19:28] #43 closed

[2017-01-09 19:29] OpenMatt commented on #38
@prefontaine remind me: did we interview her already?

[2017-01-09 20:05] prefontaine commented on #38
Yes! She is awesome.

[2017-01-09 20:05] prefontaine commented on #38
ugh. I still can't close an issue.... grrr...

[2017-01-09 21:49] prefontaine commented on #57
Lots of good folks, but not priority now. OK to close. We can revisit later.

[2017-01-10 14:59] #57 closed

[2017-01-10 15:00] #31 closed

[2017-01-10 15:00] #29 closed

[2017-01-10 15:01] OpenMatt commented on #26
@prefontaine status?

[2017-01-10 15:01] #24 closed

[2017-01-10 15:02] #20 closed

[2017-01-10 15:03] #11 closed

[2017-01-10 15:05] OpenMatt opened #58 "Schedule Toronto work sprint"
In January. Matt + Christine.

Decide:
* number of days
* which week:
Jan 16  or
Jan 23
Jan 30 - Feb 1

[2017-01-10 15:06] #38 closed

[2017-01-10 15:10] OpenMatt commented on #19
@MandyRawls given that you're working on updating our on-boarding materials now, we could provide you with a few inspiring impact stories of how our work effects real humans in the world, if you think that would be helpful?

[2017-01-10 15:12] OpenMatt opened #59 "Update storyengine.io WordPress theme"
@prefontaine I'd like to use the same theme as http://blog.workopen.org/

because it emphasizes big splashy photos that I think will bring the stories to life more.
Plus: is consistent with the look and feel of other MoFo sites, like mofo.build.

But before I do that: want to discuss? Will changing the theme mess w. any of your needs?

[2017-01-10 15:24] OpenMatt opened #60 "Publish fellows interviews"
List fellows interviews we’ve already done:
- [x] Christine Zhang, Open News Fellow
- [x] Eva Constantaras, her org is hosting an Open News Fellow in Kenya
- [x] Kristie Whitaker, Open Science Fellow
- [x] Christie Bahlai, Open Science Fellow

[2017-01-10 15:25] OpenMatt opened #61 "Update interview questions"
- [ ] 1) Up-level “Privacy and Security” (based on messaging document / talking points?)
- [x] 2) Ask about “internet health”
- [ ] 3) What are you working on? Tell us more about your project. (And: how people can collaborate / benefit from it / get involved?) — what is the benefit of your project for other people? If you had 10 skilled smart volunteers tomorrow what would they do?

[2017-01-10 15:26] OpenMatt opened #62 "Test "How to do a StoryEngine interview" documentation"
* Point staff interviewers at the documentation and tools they need
* Add a “how to interview” page to storyegine.io.
* And includes stuff like the value of calend.ly, how to record, how to transcribe, etc.

[2017-01-10 15:31] OpenMatt opened #63 "Interview + publish Open Web Fellows"
Matt Mitchell
- [ ] request sent
- [ ] interview complete
- [ ] story published

Ron Deibert (Citizen Lab)
- [ ] request sent
- [ ] interview complete
- [ ] story published

Privacy International
Gus Hosein
- [ ] request sent
- [ ] interview complete
- [ ] story published

Joe McNamee
Freedom of the Press Foundation
- [ ] request sent
- [ ] interview complete
- [ ] story published

Trevor Timm
Dat

[2017-01-10 15:31] OpenMatt commented on #63
@prefontaine I might have screwed up the orgs a bit above

[2017-01-10 15:43] OpenMatt opened #64 "Synch w. Insights Team"
Next step: @prefontaine to meet w. Sam B.

[2017-01-10 15:49] OpenMatt opened #65 "Deliver MLN web site package 1.0"
* @xmatthewx is offline this week, back next week
* We have a weekly mtg scheduled w. him, starting Jan 17
* Let's make sure we have an updated "package" of content waiting in his inbox at the end of this week, so that we have something concrete to review together in our first meting.
* Main deliverable:
- [ ] up to date set of posters / hero cards (with a name, quote, photo, etc.)
https://docs.go

[2017-01-10 15:56] OpenMatt opened #66 "Update Christine's contract"

[2017-01-10 15:58] OpenMatt opened #67 "Have staff conduct test StoryEngine interviews"
All the documentation on how to do it is here: http://mozstoryengine.wpengine.com/interview/

Potential people for us to recruit plus test with:
- [ ] Vanessa
- [ ] Insights Team (Paul + Abdoul)
- [ ] @KevZawacki ?
- [ ] @Lottarao ?
- [ ] @ldecoursy  ?
- [ ] @KGorr ?
- [ ] send out a general call for volunteers to all MoFo?

[2017-01-10 16:27] OpenMatt opened #68 "Deliver quotes about network for "People" page"
* Christine to deliver to @xmatthewx

[2017-01-10 16:27] OpenMatt opened #69 "Publish Hawaii report"
Once we have approvals done

[2017-01-10 16:32] OpenMatt commented on #65
Next step:
* add a comment to each slide indicating approval status.
** - [ ] Matt
** - [ ] @prefontaine
* review w. @xmatthewx to see if this is what he needs
https://docs.google.com/presentation/d/1dBNsFQ-z4FCUGo3x91MofjE6fyNP0Y6Xzx4iGaOHSn0/edit?usp=sharing
* add links through to projects

[2017-01-10 16:51] OpenMatt commented on #61
* Next steps:
** @prefontaine will do (1)
** Plus tweak to: "What role does 'open' play in your work? Why does it matter to you personally?"
** Add "10 skilled contributors" question
** maybe update the "how might this be useful to you" quesiton

[2017-01-10 16:55] OpenMatt commented on #67
Blockers to getting started:
- [ ] updated interview question list
- [ ] suggested interviewees

[2017-01-10 17:01] OpenMatt commented on #67
@prefontaine will indicate good potential interviewees in blue
https://docs.google.com/spreadsheets/d/1zeh03mqfHpClO1ijySAUvDZvq_fYARqtGwT0MPmp3EU/edit#gid=1443754482

[2017-01-10 17:06] OpenMatt commented on #67
Plus: @prefontaine: can you paste the email copy to use here:
https://docs.google.com/document/d/1K1nF4SakQ3-yphxqFvnCY0Dcf3BvXsFtVeY0hnJv2mA/edit

[2017-01-10 19:32] prefontaine commented on #67
@OpenMatt you beat me to it :)
Note that folks will need to ask for me permission to access the googledoc because it has PII in it.

[2017-01-10 19:46] OpenMatt commented on #67
k no worries. will just tell them to request access.

On Tue, Jan 10, 2017 at 2:32 PM, Christine Prefontaine <
notifications@github.com> wrote:

[2017-01-10 20:50] prefontaine commented on #69
Emails reminding folks we need approvals sent.

[2017-01-10 23:50] prefontaine commented on #26
From Amira & Julia's work... I have interviewed Mmaki Jantjies and Baratang Miya. I still need to reach out to Peggy and Hildah Nyakwaka.

For An-Me's team, I've interviewed Kylee Durant and am about to post that. Very good interview! For the rest I'm sending via email.

[2017-01-13 18:04] prefontaine commented on #63
Trying to update what you have above but unable. Matt done. Trevor booked. All of the rest were sent a second email request (first on Jan 9, second on Jan 13).

[2017-01-17 15:51] prefontaine commented on #65
All of these are approved for content. Still waiting on a few photos. Am now going through to add links to posted stories.

[2017-01-17 18:22] prefontaine commented on #69
I have almost all approvals. Do you want to make any edits to the latest version? Shall I send you a PDF?

[2017-01-17 18:56] MandyRawls commented on #19
@OpenMatt apologies for the delay - was ooo last week. I think that would be incredibly helpful for both recruiting and onboarding. Please let me know if you need anything from me for the work. Thanks!

[2017-01-17 19:41] OpenMatt commented on #19
great! we're working on it now.

On Tue, Jan 17, 2017 at 1:56 PM, Mandy Rawlings <notifications@github.com>
wrote:

[2017-01-17 19:41] OpenMatt commented on #69
this is incredibly exciting! no, I have no edits to make.

let's just go ahead and post it to the web site when you think it's ready
:)

On Tue, Jan 17, 2017 at 1:22 PM, Christine Prefontaine <
notifications@github.com> wrote:

[2017-01-17 20:25] OpenMatt commented on #35
@prefontaine: I agree with your proposal above: we should get approval from the interviewee only *once*, not twice.

Let's update this document together in the office next week:
https://public.etherpad-mozilla.org/p/stories

[2017-01-17 21:29] prefontaine commented on #35
My rationale for using the edited transcript is that that is the base for
all of the other variations, and what we use as our unit of analysis.
Stories outreach/advocacy purposes would, of course, need to remain
faithful to the meaning in the transcript. One way to address this would be
to make it clear in the consent form. Thoughts?

On Tue, Jan 17, 2017 at 3:25 PM, OpenMatt <notifications@github

[2017-01-18 22:20] prefontaine commented on #61
Okay it's down to 10 questions with a final "anything more?". I've tested these. I see above you had a slightly different approach on the open question. Hmmmmm. http://storyengine.io/interview/

[2017-01-18 22:23] prefontaine commented on #61
Oh... and I went through the privacy/security docs but the question I came up with didn't flow. Stay tuned.

[2017-01-24 19:48] prefontaine commented on #69
@OpenMatt could you please send me the original art for the cover so I can update it? Need to remove the "internal use only" language.

[2017-01-30 15:37] OpenMatt commented on #66
I nudged this one. should happen this week.

[2017-01-30 15:39] OpenMatt commented on #65
All of this work is now happening in these two tickets:
https://github.com/mozilla/network/issues/6
https://github.com/mozilla/network/issues/5

So I'm going to close this one.

[2017-01-30 15:39] #65 closed

[2017-01-30 15:46] OpenMatt commented on #63
@prefontaine how goes the battle on this one?

[2017-01-30 15:46] OpenMatt commented on #61
@prefontaine I forgot -- what do we still need to do to update our documentation on this one again?

[2017-01-30 15:46] OpenMatt commented on #58
@prefontaine let's put this idea on hold for now. can always re-open later.

[2017-01-30 15:46] #58 closed

[2017-01-30 15:53] OpenMatt commented on #69
@prefontaine can we mark this one closed?

[2017-01-30 15:54] OpenMatt commented on #68
this work now happening in another ticket

[2017-01-30 15:56] OpenMatt commented on #67
Kevin and Abdoul have agreed to be test subjects! @prefontaine is getting them set.

[2017-01-30 17:44] OpenMatt opened #70 "Tweak preview card on StoryEngine.io"
To include:
1) country
2) issue tags

All of which should work as clickable tags.

Mock-up:
https://dl.dropboxusercontent.com/spa/7qmeizr99t5swur/vg469ikk.png

![image](https://cloud.githubusercontent.com/assets/1007376/22434393/d334e5cc-e6e9-11e6-9e99-021b2d9e5d69.png)

[2017-01-30 17:46] OpenMatt commented on #70
cc @prefontaine would love to get your thoughts.

One consistent piece of feedback I get is: people want to know *where* these people are from.
And: the clickable tags help to mix and match stories quickly, while telegraphing / hammering home what we're working on.

[2017-01-30 18:15] OpenMatt commented on #70
Another consideration: include a field for "organization"

https://dl.dropboxusercontent.com/spa/7qmeizr99t5swur/kcmx3p2t.png

![image](https://cloud.githubusercontent.com/assets/1007376/22435458/1be883ce-e6ee-11e6-8863-2a73901a93f6.png)

[2017-01-30 18:18] OpenMatt commented on #60
@prefontaine let's update this one when we have a sec

[2017-01-30 18:18] #59 closed

[2017-01-30 18:22] prefontaine commented on #59
happydance

On Mon, Jan 30, 2017 at 1:18 PM, OpenMatt <notifications@github.com> wrote:

[2017-01-30 18:38] OpenMatt commented on #26
Ok. @prefontaine I think these are probably already logged in the interview queue, so I'm going to close.

[2017-01-30 18:38] #26 closed

[2017-01-30 18:40] OpenMatt opened #71 "Add story posters to StoryEngine.io"
From the Hawaii All Hands

[2017-01-30 18:41] OpenMatt opened #72 "Make an intake form for people to tell their own story"

[2017-01-30 18:42] prefontaine commented on #26
These are in my email... but need to add to queue. Almost done!

On Mon, Jan 30, 2017 at 1:38 PM, OpenMatt <notifications@github.com> wrote:

[2017-01-30 19:06] OpenMatt opened #73 "Add some way for people to share their audio files"

[2017-01-30 19:06] OpenMatt commented on #73
For users who don't have access to the Transcription service account -- what workflow do we want?

[2017-02-01 20:04] prefontaine commented on #61
I updated this a while back. What's on the site now is current. What may be missing is something around privacy/security. I didn't have any major inspirations after reviewing the messaging docs... can we put this to P2 and discuss together?

[2017-02-01 20:50] prefontaine commented on #28
These are done and added to the spreadsheet. Some have been interviewed.

[2017-02-01 20:50] OpenMatt opened #74 "Email StoryEngine participants to test network names"

[2017-02-01 20:51] OpenMatt opened #75 "Update sub-titles on storyengine.io"

[2017-02-01 20:54] OpenMatt commented on #74
@prefontaine I think you're going to take point on this. Next steps:
- [x] get greenlight from Chris / Lainie on general approach
- [x] draft email copy w. links
- [x] make a google form. (so we can easily tabulate responses.)
- [x] identify 10 / 15 people to send it to. (Ideally: people we were going to email anyway.)
- [x] press send
- [x] share the results back w. stakeholders

cc @chrislarry33

[2017-02-01 20:59] OpenMatt opened #76 "Promote Hawaii report"

[2017-02-01 21:09] prefontaine opened #77 "Test issue from GitHub"
Testing from GitHub now.

[2017-02-01 21:22] OpenMatt opened #78 "Add people to the Mozilla Network site spreadsheet"
MLN Site-People spreadsheet: https://docs.google.com/spreadsheets/d/1rwNFjojmnOHkctAIAin9Pd_rxziscGJBSWi-z2S6Bg4/edit#gid=866621792

[2017-02-01 21:31] OpenMatt commented on #74
@prefontaine what do you think about us sending a mail to everyone currently on the StoryEngine site saying something like:

"Hey! your story is up. here it is [link]

Your story is a great example of why Mozilla is building a network of people like you and the others you see on the site. We working to launch the network next month.
[one sentence on what the network launch is]

As a leader in this

[2017-02-01 21:32] OpenMatt commented on #74
cc @ldecoursy

[2017-02-01 21:33] OpenMatt commented on #74
The plan is scoped out here: https://public.etherpad-mozilla.org/p/networknameresearch
The deck is here: https://docs.google.com/presentation/d/15jWoJ5_DSkHlpk6R5j98niqBiAueg0ePqo4nAnjITxw/edit?ts=58910e10#slide=id.p
Mock up of site here for a bit of context: https://projects.invisionapp.com/share/ZJ9YTAGEA#/screens

[2017-02-01 21:35] OpenMatt commented on #67
next step: get Kevin + Abdoul set. Then: see if others want to start interviewing as well.

@KGorr do you have any interesting in interviewing a Mozilla network member? :)

[2017-02-01 21:36] OpenMatt commented on #67
All the documentation on how to do it is here: http://mozstoryengine.wpengine.com/interview/

[2017-02-01 21:37] #77 closed

[2017-02-01 21:38] prefontaine commented on #63
All done except Suchana had to reschedule and Janet not available until mid-Feb. Have to find Spanish transcription service for Steffania interview. Now onto processing!

[2017-02-01 21:39] ldecoursy commented on #74
A few quick things:

1) Not everyone will make it on the site at launch (think @xmatthewx said we'll start with 25-ish) so might want to tweak that language.

2) How many people are on StoryEngine already? Just thinking if you blast out a survey to them, is that same kind of mix as what we scoped out in the plan (re varying degrees of involvement)?

[2017-02-01 21:41] OpenMatt commented on #74
@ldecoursy

* agree re language. updated. still hacky -- just trying to get the basic outline right.
* 16 stories are published right now.

[2017-02-03 15:06] ldecoursy commented on #74
@OpenMatt Can you share the google form when you get a chance?

[2017-02-03 15:38] OpenMatt commented on #74
Draft email copy: https://public.etherpad-mozilla.org/p/stories
Draft google form: https://goo.gl/forms/89DIg9CScbxXgv4k1

@ldecoursy please feel free to edit it

[2017-02-03 16:06] OpenMatt commented on #74
@ldecoursy: Draft google form: https://goo.gl/forms/89DIg9CScbxXgv4k1

Feel free to edit it.

[2017-02-03 16:10] OpenMatt commented on #74
Next steps: get review / approval on email copy + form from:
- [x] @prefontaine
- [ ] @xmatthewx
- [x] @ldecoursy

[2017-02-03 16:43] OpenMatt commented on #62
Needs feedback.

[2017-02-03 16:48] OpenMatt opened #79 "Edit stories on web site"
Turn some of the raw transcripts into more polished stories, starting by pulling from the Hawaii report.

[2017-02-03 17:04] OpenMatt opened #80 "Make a how to page for: "how to produce an approved transcript""
@prefontaine one question here: is Alecia already helping with this part? If so let me know, so I can work on it w. her / test w. her?

[2017-02-03 17:06] OpenMatt commented on #67
@chrislarry33 @ldecoursy @samanthaburton let us know if there are any other staff or volunteers you would like us to reach out to / help train on how to do StoryEngine interviews?

[2017-02-03 17:10] OpenMatt commented on #78
@prefontaine is making good progress here

[2017-02-03 17:11] #75 closed

[2017-02-03 17:11] OpenMatt commented on #75
redundant -- will include as part of editing stories generally

[2017-02-03 17:47] OpenMatt opened #81 "Add meta-data back to post preview"
@prefontaine I made a change to the CSS to hide the post "categories" from the preview card. But now I'd like them to have them appear again.

Do you know to do that by any chance? I have zero CSS knowledge.

[2017-02-03 17:54] prefontaine commented on #81
I'll take a look. Did you make the change to the main theme or the child
theme? I created the child theme for tweaks like this.

On Fri, Feb 3, 2017 at 12:47 PM, OpenMatt <notifications@github.com> wrote:

[2017-02-03 18:04] prefontaine commented on #74
I can't edit the form. But the change I have is to add the subtitles to the naming options that don't mention Mozilla. Important that people understand that will still be there.

**Internet Health Network**
_Powered by Mozilla._

**Net Collective**
_Powered by you. Guarded by Mozilla._

(Less important: We may want to consider sharing a little mockup for each one.)

[2017-02-03 18:10] prefontaine commented on #80
I'll ask her.

[2017-02-03 18:24] OpenMatt commented on #81
I think the main theme. It was a while back.

On Fri, Feb 3, 2017 at 12:54 PM, Christine Prefontaine <
notifications@github.com> wrote:

[2017-02-03 18:39] OpenMatt commented on #74
Ok updated the form now.

[2017-02-03 19:10] prefontaine commented on #81
A while back like before I did this last re-design?

On Fri, Feb 3, 2017 at 1:24 PM, OpenMatt <notifications@github.com> wrote:

[2017-02-03 19:46] prefontaine commented on #80
@ankuhl can you see this? We're wondering if you can work with @OpenMatt to help document the work you're doing — so others can join in.

[2017-02-03 20:36] samanthaburton commented on #67
@OpenMatt can you share a bit more re: next steps for StoryEngine? Would help me identify people who'd make sense to train!

[2017-02-06 14:46] OpenMatt opened #82 "Interview 3 - 5 people re: MLN naming options"
## Goal: test and gather feedback / quotes on the new MLN naming choices.

### How to do it:
* book skype / phone interviews with 3 - 5 people
* you can walk them through the questions in this form. Fill in the answers for them as they talk. https://mzl.la/naming_test
* the part we're especially interested in is: their freeform thoughts around *why* they rate these names the way they do. With quot

[2017-02-06 14:48] OpenMatt commented on #82
### Next steps: assigning staff / scheduling chats

* @chrislarry33: you said you'd be up for assigning a few staff to help with this. does this ticket give you what you need to do that? @ldecoursy can you help with that?
* @prefontaine do you have any interviews already scheduled this week that you could tack this onto?

[2017-02-06 14:52] OpenMatt commented on #74
@prefontaine can you go ahead and email this to 10 - 15 members today, letting them know that the deadline to respond is Thursday?

Also: @prefontaine can you share w. 2 - 3 contacts of your contacts not already in the network?

[2017-02-06 15:32] ankuhl commented on #80
@OpenMatt @prefontaine: Figuring this out as I go!  Finally made my way here:) I will def start taking notes on how I'm processing interviews. Let me know if there is anything I need to know to make sure I'm documenting the things you need, thanks!

[2017-02-06 15:50] OpenMatt commented on #80
Awesome!

Let's start a google doc here:
https://docs.google.com/document/d/1jOHDKNiZgD-KYCmEIrNT90_bOSKQSBczef__z613gS0/edit

And we can add notes there together.

On Mon, Feb 6, 2017 at 10:32 AM, ankuhl <notifications@github.com> wrote:

[2017-02-06 17:02] OpenMatt opened #83 "Announce Story Engine community calls"

[2017-02-06 17:29] prefontaine commented on #80
I added a bit with common mistakes, along with a table of examples.

[2017-02-06 19:30] OpenMatt opened #84 "Images not appearing"
e.g., on this page, https://storyengine.io/stories/digital-inclusion/mmaki-jantjies/

images in the post body are not appearing

https://storyengine.io/wp-admin/post.php?post=10820&action=edit

[2017-02-06 19:34] OpenMatt commented on #84
Reduce spacing for bulleted lists: https://dl.dropboxusercontent.com/spa/7qmeizr99t5swur/87ih3aoc.png

[2017-02-06 20:47] prefontaine commented on #62
Testing with Paul and Abdoul: https://storyengine.io/interview/

[2017-02-06 22:02] OpenMatt commented on #74
Emailed Chris + Mark Surman to see if they have anyone they want to mail to as well.

[2017-02-06 22:12] prefontaine commented on #82
@OpenMatt I may have one. I will set up others.

[2017-02-06 22:16] prefontaine commented on #74
@OpenMatt Yes

[2017-02-06 23:43] prefontaine commented on #74
@OpenMatt This is done. Plus send out to some folks not yet in the network.

[2017-02-06 23:43] prefontaine commented on #74
Re-opening because closed by mistake.

[2017-02-06 23:48] prefontaine commented on #82
@OpenMatt Just coming back to this. I only have one potential interview this week. Shall I just pick other folks and set up interviews — or do you want to coordinate on who?

[2017-02-07 15:38] arlissc commented on #82
@OpenMatt @prefontaine - do I suggest interviewees ? or is there a list that I pick from ? or am I assigned interviewees ?

[2017-02-07 15:48] OpenMatt commented on #82
@arlissc you can go ahead and reach out to whatever members you like.
email template to use is here: https://public.etherpad-mozilla.org/p/stories

[2017-02-07 15:53] OpenMatt commented on #82
@prefontaine no need to co-ordinate -- just forge ahead w. whoever you
think's good, and update here in the ticket.

On Mon, Feb 6, 2017 at 6:48 PM, Christine Prefontaine <
notifications@github.com> wrote:

[2017-02-07 19:06] prefontaine commented on #84
I'm unable to re-create your photo issue. See https://storyengine.io/stories/open-innovation/david-humphrey/. Confirming: You're using "Add Media" to insert photos?

[2017-02-07 20:35] OpenMatt commented on #84
Yeah, inserting from URL.

e.g., images still broken here:
https://storyengine.io/stories/digital-inclusion/mmaki-jantjies/

it seems like maybe uploaded images display, but external URL images do not?

e.g., one image displays here, the other does not:
 https://storyengine.io/stories/digital-inclusion/mmaki-jantjies/

edit page:  https://storyengine.io/wp-admin/post.php?post=10820&action=edit

[2017-02-07 20:40] OpenMatt commented on #84
### display meta-data for posts. so that they display categories and tags.
This was default for the original parent theme, but I disabled it by putting some custom CSS in.

[2017-02-07 21:11] prefontaine commented on #84
Do you have the original theme files available? Just checking before I go
digging :)

On Tue, Feb 7, 2017 at 3:40 PM, OpenMatt <notifications@github.com> wrote:

[2017-02-07 21:20] OpenMatt commented on #84
yep will send to you

On Tue, Feb 7, 2017 at 4:11 PM, Christine Prefontaine <
notifications@github.com> wrote:

[2017-02-07 21:23] OpenMatt commented on #84
Here's how I did it:

http://docs.codestag.com/article/366-i-want-to-hide-the-post-meta-under-the-post-title

I want to hide the post meta under the post title

You can easily hide the post meta that is displayed under the post title
(publish date, author, etc...) by adding some custom css:

.entry-footer {display:none;}

On Tue, Feb 7, 2017 at 4:11 PM, Christine Prefontaine <
notifications@github

[2017-02-07 21:38] prefontaine commented on #84
Awesome. I'll load that.

On Tue, Feb 7, 2017 at 4:20 PM, OpenMatt <notifications@github.com> wrote:

[2017-02-08 16:02] prefontaine commented on #74
So far 10 responses via survey. One interview completed and two more booked for today.

[2017-02-09 14:35] arlissc commented on #82
@OpenMatt @prefontaine - have reached out to Science and Open Web fellows (they are on a workweek in SF) - will be doing interviews with them on Friday afternoon ET.  Have yet to confirm which ones however, will be doing 2 Science / 2 Open Web.

[2017-02-09 14:36] arlissc commented on #82
by interview I mean completing the MLN naming_test form with their responses.

[2017-02-09 16:37] OpenMatt commented on #78
@prefontaine anything else left to do on this one from our side?

[2017-02-09 16:39] prefontaine commented on #78
A few more quotes to add as I process the open web fellows interviews. But I think they have enough to work with for now.

[2017-02-10 21:53] arlissc commented on #82
Have completed naming_test with ...
Kirstie Whitaker (Fellow for Science 2016)
Etienne Maynier (Open Web Fellow 2016)
Steven Van Tuyl (new Study Group lead)

Upcoming interviews (Monday)
Eireann Leverett (Open Web Fellow 2016)

cc @OpenMatt @prefontaine

[2017-02-10 23:10] prefontaine commented on #78
@OpenMatt @xmatthewx I'm going to close this now. I have quotes for all of the people I've processed. Will continue to add as I process, with focus on Open Web Fellows and Host Orgs. Also have shortened quotes on http://storyengine.io (these are same for folks who are in spreadsheet).

[2017-02-10 23:10] #78 closed

[2017-02-10 23:12] prefontaine commented on #84
OK I have the theme but it's going to make the home page super busy. I'm going to try to tweak it so only the categories show up — not the author and date.

[2017-02-11 02:13] chrislarry33 commented on #82
Fantastic @arlissc Thanks! Would you be willing to interview Auerilla and get her to recommend a former OpenNews fellow as well?

[2017-02-13 15:04] OpenMatt commented on #84
That's perfect -- exactly what I was hoping might be possible.
Agree author and date aren't useful.

It probably doesn't need the "posted in" copy either -- maybe just display
the issue / category itself?

On Fri, Feb 10, 2017 at 6:12 PM, Christine Prefontaine <
notifications@github.com> wrote:

[2017-02-13 15:04] OpenMatt commented on #78
yay!

On Fri, Feb 10, 2017 at 6:10 PM, Christine Prefontaine <
notifications@github.com> wrote:

[2017-02-13 16:03] xmatthewx commented on #78
Thanks so much for all your work! I'm thrilled with how it's coming together.

[2017-02-17 20:09] prefontaine commented on #63
Ignore this. Just testing comment.

[2017-02-21 18:41] prefontaine commented on #67
@samanthaburton Apologies for delay on your questions. Let me check in with @chrislarry33 when he's back and I'll have a better answer for you. For now, we're focused on processing/posting interviews, making sure that @xmatthewx has what he needs, and systematizing the process (how to do an interview, how to process an interview, etc.) — all to make it easy for others to generate stories.

[2017-02-21 18:42] #74 closed

[2017-02-21 18:42] #66 closed

[2017-02-21 18:42] #82 closed

[2017-02-21 18:42] #72 closed

[2017-02-21 18:43] #69 closed

[2017-02-21 18:43] #73 closed

[2017-02-21 18:43] #61 closed

[2017-02-22 16:58] prefontaine commented on #80
@chrislarry33 Alecia and I worked on this and ready for review. https://docs.google.com/document/d/1jOHDKNiZgD-KYCmEIrNT90_bOSKQSBczef__z613gS0/edit?usp=sharing cc @OpenMatt

[2017-02-23 18:17] prefontaine opened #85 "Update interview list"

[2017-02-27 16:17] OpenMatt commented on #63
any status updates on this one?

[2017-02-27 16:49] OpenMatt commented on #62
@prefontaine did we get any feedback from those guys on how it wehnt / how we should improve the docuemntation or overall experience?

[2017-02-27 16:57] prefontaine commented on #62
I checked in with them last week and they're still in the process.

On Mon, Feb 27, 2017 at 11:49 AM, OpenMatt <notifications@github.com> wrote:

[2017-02-27 16:59] prefontaine commented on #63
All good. One posted. The rest still in processing.

On Mon, Feb 27, 2017 at 11:17 AM, OpenMatt <notifications@github.com> wrote:

[2017-02-27 18:09] OpenMatt commented on #80
I have some thoughts about formatting and stuff. I'll do that today.

[2017-02-27 19:16] #80 closed

[2017-02-27 19:16] OpenMatt commented on #80
This is so awesome. Done!

[2017-02-27 19:19] chrislarry33 commented on #80
agreed!

[2017-02-27 19:23] OpenMatt commented on #81
duplicate. marking closed.

[2017-02-27 19:23] #81 closed

[2017-02-27 19:26] OpenMatt commented on #60
@prefontaine should we mark this closed?

[2017-02-27 19:30] OpenMatt opened #86 "Ensure documentation is tight and easy to find"

[2017-02-27 19:31] OpenMatt opened #87 "Schedule bi-weeklies w. Christine + Chris"
Every two weeks. Following the heartbeat call.

[2017-02-27 19:34] OpenMatt opened #88 "Hire/assign processors"
Next steps:
- [ ] Get budget approved by @chrislarry33
- [ ] Question for @chrislarry33 : are there staff you want to assign? e.g., everyone who nominates someone for Rizwan's Recognition Program must do the interview? Using https://storyengine.io/interview -- which is ready to go.
- [ ] start recruitment process. If we are hiring a contractor, where are we looking / how are recruiting?

[2017-02-27 19:36] OpenMatt opened #89 "Tighten synch w. Comms + Marketing"
Schedule a recurring editorial calendar call w. comms and marketing. Ideally: in the first week of each heartbeat.

Topics:

* editorial calendar (understanding key themes upcoming, making suggestions based on content, etc.)
* being clear about the delivery process around new stories for Marketing + Comms (e.g., cc Kevin + Paul on story notification emails to the interviewee?)
* best ways to occas

[2017-02-27 19:37] OpenMatt opened #90 "Synch w. Insights"
Topics:

* Integrating our planning w. Insights Team planning.
* Internet health report. (Get some of our content into next iteration, or general Internet Health marcom?)

[2017-02-27 19:38] OpenMatt opened #91 "Sync w. recognition program"
Christine + Rizwan chat. Next steps for recognition program in Q2.
Implement: This time around: the person who nominates them has to interview.

[2017-02-27 19:38] OpenMatt opened #92 "Synch w. member outreach plans"
Ping Lainie. Get a clear sense of how we can best support that work.

[2017-02-27 19:39] OpenMatt opened #93 "Publish our research / analysis priorities"
Make it clear that we are going to focus on two key questions going forward into Q2 / rest of year:

*1) What can we learn from existing members?*  What can we learn from our most active / successful network members? What are the “top 50” consistently telling us?

*2) How can we better support and onboard new members?* What should we be doing to reach out to *new* members / supporting / on-boardin

[2017-02-27 19:40] OpenMatt opened #94 "Link to Internet Health report from web site"

[2017-02-27 19:52] OpenMatt commented on #39
@KevZawacki I know @prefontaine will be touching base w. you guys re: best way to work with Comms + Marketing going forward. But in the mean time, there's tons of content for you to peruse and full from, sorted by topic, at https://storyengine.io/
* Most of these are long-form interviews. They could easily be polished and cut down.

[2017-02-28 22:24] prefontaine commented on #39
@KevZawacki please let me know when is a
good time to connect. Just a heads up that this story has gotten a lot of
traction on social media:

https://storyengine.io/stories/open-innovation/christie-bahlai/

Now, as part of our production process, we send a notice to interviewees
when we've posted their edited transcript, along with the copy we're using
to promote via Twitter. Do you want to be cop

[2017-02-28 22:26] prefontaine commented on #39
BTW going to close out this thread as it will get discussed under #89.

[2017-02-28 22:26] #39 closed

[2017-03-01 19:09] prefontaine commented on #63
We got the okay via @ldecoursy to reach out to ALL fellows. So need to add the rest to the interview queue. https://advocacy.mozilla.org/en-US/open-web-fellows/fellows2016

[2017-03-01 19:10] prefontaine opened #95 "Interview Science Lab Fellows"
Some done already. Here is the main list: https://science.mozilla.org/programs/fellowships/fellows

[2017-03-01 19:11] ldecoursy commented on #63
cc @auremoser @vanessarhinesmith Please flag if there are any fellows @prefontaine should NOT reach out to for Storyengine interviews. Thanks!

[2017-03-01 19:13] prefontaine commented on #95
Hey @acabunoc are there any fellows we should NOT interview? (cc @ldecoursy)

[2017-03-01 19:20] abbycabs commented on #95
Hey @prefontaine - I'd defer to @auremoser who's running the fellows program for science

[2017-03-01 19:24] auremoser commented on #63
Confirmed: all science fellows are fine (Kirstie, Teon, Bruno, Danielle, Jason, Joey, Richard). Christie's already posted :)

[2017-03-01 19:31] auremoser commented on #95
Cross check with #63 . Thanks @acabunoc ....all fellows are fine for interview.

[2017-03-01 19:48] prefontaine commented on #95
@acabunoc @auremoser Thank you. And here I thought I had figured out who did what ;-)

[2017-03-01 19:59] ghost commented on #63
All Open Web Fellows are fine as well.
Thank you, //v

[2017-03-01 20:16] prefontaine commented on #63
Thank you!

On Wed, Mar 1, 2017 at 2:59 PM, vanessa rhinesmith <notifications@github.com

[2017-03-01 20:23] prefontaine commented on #92
@ldecoursy Do you want to set up a time to synch up? March 14-17? If so, you can pick length/day here:

https://calendly.com/christine-prefontaine/60-minute-call/
https://calendly.com/christine-prefontaine/45-minute-call/
https://calendly.com/christine-prefontaine/30-minute-call/

[2017-03-01 20:33] prefontaine commented on #95
@Ankuhl could you please add the folks we have not interviewed to the tracker?

[2017-03-01 21:10] prefontaine commented on #63
@Ankuhl could you please add the Open Web Fellows that we have not interviewed to the tracker? There is a column in the spreadsheet for you to indicate the source — in this case, Open Web Fellow :)

[2017-03-02 01:06] prefontaine commented on #79
We've decided to focus on processing transcripts and analysis — then informing comms, marketing, outreach, etc. That said, we still have getting our content into other Mozilla streams as an objective.

[2017-03-02 01:06] #79 closed

[2017-03-02 01:17] prefontaine commented on #67
Closing this because because duplicates #62. @samanthaburton I'll update you when we're able to check in — hopefully after March 14.

[2017-03-02 01:17] #67 closed

[2017-03-02 01:17] prefontaine commented on #87
Meeting scheduled for Friday, March 3. Will set up after that.

[2017-03-02 01:22] prefontaine commented on #89
@KevZawacki @hpauljohnson Can we schedule a time to check in the week after next? I'm starting to get more intentional about promoting stories after I post them. Some are getting good traction on social media (example: https://storyengine.io/stories/open-innovation/christie-bahlai/). Would like to improve process of letting you know when we publish / when we see patterns. You can use these links t

[2017-03-02 01:27] prefontaine commented on #76
Published here: https://storyengine.io/insights/

1. Email for participants thanking them for their participation and welcoming feedback and continued engagement.

2. Email for staff thanking them for all their help and letting them know more to come.

3. Some external-facing content chunks for comms? Might they want to share more broadly, emphasizing the feedback loop, commitment to being a learn

[2017-03-02 01:28] prefontaine commented on #90
@samanthaburton might we check in after March 14th? You can use these links to pick best time/date for you:

https://calendly.com/christine-prefontaine/60-minute-call/
https://calendly.com/christine-prefontaine/45-minute-call/
https://calendly.com/christine-prefontaine/30-minute-call/

[2017-03-02 02:13] prefontaine commented on #35
Linked to #86

[2017-03-02 02:25] prefontaine commented on #91
Sent email to Rizwan. Did not see him in GitHub list.

[2017-03-02 02:27] prefontaine commented on #85
@Ankuhl to add to your to-do's for next week.

[2017-03-02 20:29] OpenMatt opened #96 "Start using StoryEngine resources in on-boarding"
@MandyRawls a while ago we talked about using StoryEngine in on-boarding. The site is at a point where I think it's ready to be incorporated. In a few ways:

1) Share the site in the on-boarding manual / process
https://storyengine.io/

2) Point them at stories around specific issues. To help these geeky / technical "internet health" issues come to life for people who are new to them.

https://sto

[2017-03-02 20:30] OpenMatt commented on #96
cc @prefontaine

[2017-03-02 20:31] OpenMatt opened #97 "Make a "highlight reel" quote page"
Maybe organized by Internet Health topics.

[2017-03-03 20:42] prefontaine commented on #60
@OpenMatt Not yet.

[2017-03-04 02:38] prefontaine opened #98 "Switch to new / better transcription service"
Specialized freelancers who can learn about our field
People who can also take on editing
People who can handle multilingual

The idea here is to reduce editing time — we're just seeing way way too many ridiculous mistakes with Castingwords and they were not responsive to our feedback.

I've already started doing research on this. Will pick up again week of March 13.

cc @ankuhl @openmatt

[2017-03-06 18:26] OpenMatt commented on #76
@prefontaine : (1) and (2) are no-brainers for sure. @Lottarao might be able to help advise on en email to all staff. Should probably be framed as: "As we prepare to launch the network, here's a reminder of some of what we heard from members that is helping to inform the launch."

for (3), I wonder if a better investment of energy is: crafting an explicit plan w. MoFo comms (+ MoCo marketing, if t

[2017-03-06 18:39] OpenMatt commented on #97
* Up-levelling this one, because I think it's low-hanging fruit we're overlooking
* All that's required would be to pull the quotes already in the Hawaii report and stick them on a single web site page.
* Basically, this would provide a quick-hit "lookbook" of faces and quotes on our various internet health topics. So that it's much easier to scan and grok nuggets.

[2017-03-06 18:45] OpenMatt commented on #89
plus @Lottarao as well, as the new head of MoFo communications :)

[2017-03-14 17:43] ankuhl commented on #63
@prefontaine Done!

[2017-03-14 17:44] ankuhl commented on #85
@prefontaine done!

[2017-03-14 17:47] ankuhl commented on #95
@prefontaine done!

[2017-03-14 21:05] prefontaine commented on #97
@OpenMatt I like this idea. Maybe we should make it the home page? cc @ankuhl

[2017-03-14 21:07] prefontaine commented on #96
@MandyRawls Please let me know if you have any questions re StoryEngine. Happy to help out.

[2017-03-14 21:07] #64 closed

[2017-03-14 21:07] prefontaine commented on #64
Closing because duplicate of #90

[2017-03-15 18:29] prefontaine commented on #89
@KevZawacki @hpauljohnson — Can we reschedule this week or next? Would very much like to synch up StoryEngine with your work.

[2017-03-15 18:40] KevZawacki commented on #89
@prefontaine Let's do next week -- Lotta will join us. Tuesday at 1pm ET? Just sent a calendar invite.

[2017-03-15 18:44] prefontaine commented on #89
Awesome! It's on my calendar. Just need link to your Vidyo room since I'm
not in the internal system. Looking forward.

On Wed, Mar 15, 2017 at 2:40 PM, Kevin Zawacki <notifications@github.com>
wrote:

[2017-03-15 19:18] KevZawacki commented on #89
@prefontaine My room link: https://v.mozilla.com/flex.html?roomdirect.html&key=zFGjeCShpKN0s0smfq1fyCAD8o

[2017-03-15 19:55] prefontaine commented on #89
Excellent. Thank you.

On Wed, Mar 15, 2017 at 3:18 PM, Kevin Zawacki <notifications@github.com>
wrote:

[2017-03-15 20:27] prefontaine commented on #63
@ldecoursy Trevor Timm's story is live and deets in the spreadsheet: https://storyengine.io/stories/privacy-security/trevor-timm/

[2017-03-17 17:20] OpenMatt commented on #98
next step:
* transcription communities / mechanical turk, etc.
* ideally: a higher quality person that we build a relationship with

[2017-03-22 14:21] prefontaine commented on #30
I'm closing this because we have evolved to focus on other areas. Also we have interviewed two Hive Chicago folks.

[2017-03-22 14:21] #30 closed

[2017-03-22 14:22] prefontaine opened #99 "Fund for Shared Insight"
Apply for StoryEngine: http://www.fundforsharedinsight.org/listen-for-good-overview

[2017-03-22 14:23] prefontaine opened #100 "Apply for WeWork Creator Award"
Apply for StoryEngine: https://creatorawards.wework.com/

[2017-03-22 14:45] prefontaine opened #101 "StoryEngine Article for E-180"
1000 words due April 27 — but may be good to submit before to have more time in case feedback. https://mag.e-180.com/

[2017-03-22 14:46] prefontaine opened #102 "StoryEngine First Year Retrospective"

[2017-03-22 17:53] prefontaine opened #103 "Create and update promotional tweets document"

[2017-03-29 14:38] OpenMatt opened #104 "Send email newsletter to MoFo staff"
building off the google doc w. tweets that alecia started

I have some ideas here, and could help shape the template we use.

e.g., framing as "#internethealth heroes"

[2017-03-29 14:43] OpenMatt opened #105 "Get stories into the next Internet Health Report"

[2017-03-29 14:47] OpenMatt opened #106 "Work out next steps w. Paul re: following up on StoryEngine + organizational learning"
Would be good to include Simon from Kenya's story (e.g., moving people from a former community member who's now "done" -- versus feeling like an ongoing network member.)

[2017-03-29 15:06] OpenMatt commented on #101
* for creating the timeline: https://timeline.knightlab.com/
* can also include: helping to parse some of the various terms / semantics people are using for this work (e.g., "reflective practise," "closing the feedback loop," etc.)

[2017-03-31 15:13] OpenMatt commented on #98
Good progress here. Will aim to have new folks in place by end of April. cc @prefontaine

[2017-03-31 15:14] OpenMatt commented on #89
Marking this done. We will schedule a new monthly recurring meeting to synch w. Comms + Marketing on editorial calendar, etc.

[2017-03-31 15:15] #88 closed

[2017-03-31 15:18] OpenMatt opened #107 "Schedule monthly comms + insights meeting"

[2017-03-31 15:18] OpenMatt commented on #60
@prefontaine any updates?

[2017-03-31 15:18] #90 closed

[2017-03-31 15:19] OpenMatt opened #108 "Document our April / May insights workplan w. Paul"

[2017-03-31 15:20] #106 closed

[2017-03-31 15:21] OpenMatt commented on #105
@prefontaine sounds like you and Paul Z discussed this. Let's note next steps / milestones / deadlines.

[2017-03-31 15:26] OpenMatt commented on #63
@prefontaine ok to close this one?

[2017-03-31 15:27] OpenMatt commented on #76
@prefontaine maybe we mark this done? We can include a link to it in our storytelling for e-180, biz dev, etc.

[2017-03-31 15:29] OpenMatt opened #109 "Ensure storyengine.io/interview documentation is ready for staff"
Success criteria:
1) it's 100% ready for staff to use and follow for the Recognition Program interviews
2) There is an open google doc FAQ document so that staff can add their questions there, so that we can batch them and ship into a second iteration of this documentation.

[2017-03-31 15:33] OpenMatt commented on #104
@ankuhl can you paste the link to the google doc you're using for this?

[2017-03-31 15:35] OpenMatt opened #110 "Follow up w. MoCo comm"

[2017-03-31 15:35] OpenMatt opened #111 "Design + implement StoryEngine’s monthly heartbeat cycle"

[2017-03-31 15:36] OpenMatt opened #112 "Discuss H2 2017 + early 2018 plan for StoryEngine"

[2017-03-31 15:38] #62 closed

[2017-03-31 15:38] OpenMatt commented on #62
Going to mark this one done.

[2017-03-31 15:38] OpenMatt commented on #91
@prefontaine done?

[2017-03-31 15:39] OpenMatt commented on #91
I'm going to mark as closed. will schedule a separate ticket to be more specific re: kicking off Staff Interview Recognition program.

[2017-03-31 15:40] OpenMatt opened #113 "Kick off network recognition interviews"

[2017-03-31 15:40] ankuhl commented on #104
https://docs.google.com/a/facilitatingchange.org/document/d/1lH9GezTZB0GVwlxtoemIexyAo1VEBQ29GxeJNwl5FF4/edit?usp=sharing

[2017-03-31 15:44] #93 closed

[2017-03-31 15:44] #83 closed

[2017-03-31 15:45] OpenMatt commented on #22
@prefontaine any updates here? no worries if not. Ok to leave this in backlog -- just checking.

[2017-03-31 15:45] OpenMatt commented on #71
This might be a good no-brainer bit of work for us to do. Add the slideshow to the "about" page, for example.

[2017-03-31 15:46] #28 closed

[2017-03-31 15:46] #34 closed

[2017-03-31 15:46] OpenMatt opened #114 "Work out Mozilla Network web site next steps"

[2017-03-31 15:49] OpenMatt commented on #19
Mandy says:
* We've added links to the story content in our onboarding handbook, and will also add it to our onboarding roadmap website that is being created.
* Love the idea of incorporating interviewing a MoFo to learn their story into the process as well.

[2017-03-31 15:50] OpenMatt commented on #19
@MandyRawls let us know if there's anything more we can do to help here!

[2017-03-31 15:56] OpenMatt commented on #103
@ankuhl can you paste the link for that here?

[2017-03-31 16:01] OpenMatt commented on #85
Anything we need to do here to be ready for kicking off network member recognition interviews?

[2017-03-31 16:03] #86 closed

[2017-03-31 16:03] #96 closed

[2017-03-31 16:03] #92 closed

[2017-03-31 16:04] OpenMatt commented on #95
@prefontaine ok to close?

[2017-03-31 16:05] OpenMatt commented on #110
reply on that thread we started. Thanks Michaela. See if there's anything coming up in April that we could help with / work on together.

[2017-03-31 16:07] OpenMatt commented on #111
@prefontaine we should schedule a monthly 90-minute heartbeat planning meeting.
Can you suggest a good time to do that end of April / first week of May? I know you're going away in May so probably better for you to indicate when you're avail.

[2017-03-31 16:08] OpenMatt commented on #109
@prefontaine I don't think there's any blockers here. We should just fire away with what's there now, and if something's broken, staff will tell us. Make sense? If so, we can just move this to "review," cuz there's nothing for us to do.

[2017-03-31 16:08] OpenMatt commented on #113
@rtufail can you remind us when these are going to start?

[2017-03-31 16:09] OpenMatt commented on #108
goal: get specific on how we can best work together. specific deliverables, etc. looking for Paul to tell us what to do. :)

[2017-03-31 16:09] OpenMatt commented on #99
next step: make a go / no go decision.
do we actually want to apply for this?
do we meet the criteria re: SurveyMonkey, etc?

@prefontaine who makes this call?

[2017-03-31 16:10] OpenMatt commented on #100
@prefontaine next steps?

[2017-03-31 16:14] ankuhl commented on #103
EDIT/New Doc (Spreadsheet) for Tweets @openmatt @prefontaine

https://docs.google.com/a/facilitatingchange.org/spreadsheets/d/1c6eAArxYj7DLQJ4FvrSRqvrcFz58PfWPoI8eFQseOVc/edit?usp=sharing

[2017-03-31 16:22] xmatthewx commented on #114
@OpenMatt – I proposed a workflow to surface content from staff and evaluate it for use on website, newsletter, social etc. Editorial calendar would drive timing of specific content. We revised this with input from Kevin, Hannah, Lotta. Still needs more detail regarding people & profiles. Longterm, I think this workflow is owned by Lainie and Lotta.

https://docs.google.com/presentation/d/1rHH2nKm

[2017-04-07 17:20] #100 closed

[2017-04-07 17:20] prefontaine commented on #100
Sadly, deadline has passed. Just not enough bandwidth for this.

[2017-04-07 17:22] prefontaine commented on #76
Yeah so this never really got leveraged properly because my time was hijacked by the network naming questions. But I do point to it a TON. Will check with Chris to see if he'd like a similar format for next AllHands -- or whenever.

[2017-04-07 17:22] #76 closed

[2017-04-07 22:10] prefontaine commented on #114
@xmatthewx Thanks this is super helpful. @AnKuhl FYI.

[2017-04-07 23:30] prefontaine commented on #103
@ankuhl I'm wondering if this would be better as a spreadsheet because then we could sort by name, issue, etc. What do you think?

[2017-04-07 23:32] prefontaine commented on #98
@ankuhl Could you please drop any links/docs that I need to review in here?

[2017-04-10 20:11] OpenMatt commented on #104
@ankuhl I've started editing but need to wrap for the day. Will have my edit finished morning of Tues, April 11.

[2017-04-10 20:13] OpenMatt opened #115 "Apply to Feedback Summit"
Draft: https://docs.google.com/document/d/1LI6T7M0vTgFCIwPchUyyRiTUapuV8241fraM4Emu-YI/edit

Deadline: April 15

[2017-04-11 19:19] OpenMatt commented on #104
Hey, guys. I took a pass at tweaking the template for the newsletter:
https://docs.google.com/document/d/1lH9GezTZB0GVwlxtoemIexyAo1VEBQ29GxeJNwl5FF4/edit#

Ticket: https://huboard.com/MozillaFoundation/Story-Engine/#/issues/217898231

Main things for me were:
1) polish 2 or 3 #openinnovation stories. I tried to turn our raw transcripts into slightly more polished pieces for 2 or 3 highlight stori

[2017-04-11 19:19] #91 closed

[2017-04-11 19:19] #19 closed

[2017-04-11 19:20] OpenMatt commented on #98
@ankuhl: ping

[2017-04-11 19:32] ankuhl commented on #98
We've received just over 20 applications, to which I've narrowed it down to about 7.  Sending out a few emails to the first 3 or so applicants for them to sign NDAs and transcribe their first interview:)

https://drive.google.com/drive/folders/0B83QzxaFn4GqVXlSc3VMeE13Szg?usp=sharing

[2017-04-11 20:55] ankuhl commented on #104
Sounds good! Thank you for taking the time to look at this and give me pointers on how to improve the content!

[2017-04-11 21:25] prefontaine commented on #104
Thanks so much, Matt. I'll take a look and forward on to Chris by tomorrow.

//////////////////////////////////////
Christine Prefontaine
Founder, FacilitatingChange.org
Co-Creator, StoryEngine.io
Book a time with me » <https://calendly.com/christine-prefontaine>
Signal: +1 202 499 8554
Wire: @prefontaine

On Tue, Apr 11, 2017 at 4:55 PM, Alecia Kuhl <notifications@github.com>
wrote:

[2017-04-14 02:10] ankuhl commented on #98
Sent out and received 2 NDAs/acceptance emails, one is currently working on transcription for an interview, and the other has already returned her first one!

[2017-04-14 03:10] prefontaine commented on #98
Yay! Happy dance

[2017-04-14 20:35] prefontaine commented on #60
Next action here is to interview folks we have not yet. @ankuhl and I will organize these next week.

[2017-04-14 20:35] prefontaine commented on #98
This is DONE. On to maintenance mode.

[2017-04-14 20:35] #98 closed

[2017-04-14 20:39] prefontaine commented on #113
@ankuhl and I will ensure this is in line for the month of May

[2017-04-14 20:41] prefontaine commented on #107
This is happening.

[2017-04-14 20:42] prefontaine commented on #111
@OpenMatt can we do this on Friday, April 28? I leave around May 6 and this would leave a bit of time for followup.

[2017-04-14 20:43] prefontaine commented on #85
@ankuhl can you please see which open web fellow and open science fellows have not been interviewed and reach out to them in May?

[2017-04-14 20:44] prefontaine commented on #60
This is ongoing so I'm going to close it.

[2017-04-14 20:44] #60 closed

[2017-04-14 21:06] prefontaine opened #116 "Suchana Seth Audio Files"
- [x] Compile  audio files
- [ ] Connect to Vanessa for intros

[2017-04-14 21:12] prefontaine opened #117 "Review Tweets"
- [x] Steffania
- [x] Gus
- [x] Paul Oh

[2017-04-18 19:47] OpenMatt opened #118 "Ensure completed stories are added to Pulse"

[2017-04-18 19:47] OpenMatt commented on #118
https://www.mozillapulse.org/featured

[2017-04-18 19:47] OpenMatt commented on #118
need to work out what the right on-going strategy and process for this is.

[2017-04-18 20:16] prefontaine commented on #118
Yes I was thinking same thing. Hey @Ankuhl can you take care of developing
/ documenting system for this?

On Tue, Apr 18, 2017 at 3:47 PM, OpenMatt <notifications@github.com> wrote:

[2017-04-18 20:26] prefontaine commented on #115
Done

[2017-04-18 20:39] #87 closed

[2017-04-18 20:49] prefontaine commented on #107
Blocked. Waiting to get time with Lotta.

[2017-04-18 20:50] #115 closed

[2017-04-19 21:10] ankuhl commented on #116
@prefontaine Don't worry about compiling the audio files if it's only for the transcriptionist. I went ahead and sent it to her with instructions:)

[2017-04-20 14:26] prefontaine commented on #116
THANK YOU.

On Wed, Apr 19, 2017 at 5:10 PM, Alecia Kuhl <notifications@github.com>
wrote:

[2017-04-24 16:36] prefontaine opened #119 "Who can we interview from municipal government?"
Following up on NetGain event. Check with An-me.

[2017-05-01 14:00] prefontaine opened #120 "Add #InternetHealthHeroes to Website"
Under monthly insights. Reports go under bi-annual insights.

[2017-05-01 14:00] prefontaine opened #121 "Close the Loop"
Communicate back to respondents in a lightweight, opt-in way.

[2017-05-01 14:01] prefontaine commented on #99
Dropped.

[2017-05-02 13:40] OpenMatt commented on #103
can we mark this one closed?

[2017-05-02 13:42] OpenMatt commented on #110
@prefontaine @ankuhl I wonder if we could get into a regular habit of checking in w. our comms and marketing colleagues at the start of each month. To see if they have anything upcoming on their calendar that we can assist by providing stories, etc.

Also: did we send them the newsletter? If not, we should. Would be a good thing to attach to that mail asking what they've got cooking.

[2017-05-02 13:45] OpenMatt commented on #111
@prefontaine I've set monthly retrospective meetings in everyone's calendar. I think if possible it's key that we encourage @chrislarry33 to attend these wherever possible -- they're the best way for him to give direction and synch us up. hopefully these can be nutrient-rich meetings that lighten the need for other weekly check-ins etc.

[2017-05-02 13:45] OpenMatt commented on #111
@prefontaine any other meetings we need to schedule or issues to discuss here? if not I'll mark this done.

[2017-05-02 13:46] prefontaine commented on #110
Newsletter went out to all MoFo staff. Agreed on regular check in.

[2017-05-02 13:46] OpenMatt commented on #109
@prefontaine can we mark this one done? e.g., are we now using this link to send to staff as part of the member recognition process? does it seem to be working?

[2017-05-02 13:47] OpenMatt commented on #113
any updates?

[2017-05-02 20:41] ankuhl commented on #85
List is updated, reaching out to fellows for interviews this week.

[2017-05-03 17:34] ankuhl opened #122 "Document the value proposition (Business model canvas)"

[2017-05-03 17:35] ankuhl opened #123 "Agree + document succession plan"

[2017-05-03 17:35] ankuhl opened #124 "Prepare next insights report for All Hands."

[2017-05-03 17:37] ankuhl opened #125 "Sync with editorial calendar for May / June"
Understand and sync with what’s on the editorial calendar for May / June

[2017-05-03 17:38] ankuhl opened #126 "Activate the new story editor"
Have Jesse Von Doom’s editor edit their first story in line with that calendar.

[2017-05-03 17:44] ankuhl opened #127 "How do we close the loop?"

[2017-05-05 20:10] #85 closed

[2017-05-05 20:10] #103 closed

[2017-05-05 20:11] prefontaine commented on #63
We're not doing more interviews for now and the above are being processed. So moving this to To Do for when we get through the backlog.

[2017-05-05 20:13] #104 closed

[2017-05-05 20:14] #109 closed

[2017-05-05 20:14] #117 closed

[2017-05-05 20:16] prefontaine commented on #110
Also see #107

[2017-05-08 15:10] ankuhl commented on #111
@OpenMatt Can we change this calendar event to occur every month on the first Wednesday of each month? — with the exception of July, which should be on either Thursday or Friday / the 6th or 7th.

[2017-05-08 15:15] ankuhl commented on #125
Re: Newsletter for June to go out on May 20

[2017-05-08 15:24] ankuhl opened #128 "Get to "inbox zero""
Process all backlogged interviews

[2017-06-14 21:29] flukeout opened #129 "Improve hierarchy between Question and Answer text."
This chunk of text contains two question and answers, but when scanning the page, it's hard to tell them apart...

![image](https://user-images.githubusercontent.com/25212/27155313-55a0ad92-510d-11e7-855d-135beac55a4a.png)

From https://storyengine.io/stories/web-literacy/ani-martinez/

Here's the same section with a couple of small changes...

![image](https://user-images.githubusercontent.com/25

[2017-06-15 00:02] flukeout commented on #129
Okay cool, looks like I got access to the Wordpress, so I'll look into this in the next couple of days.

[2017-06-15 00:04] prefontaine commented on #129
Great. One of the reasons I left H3 lighter was to distinguish between H2
and H3.

On Wed, Jun 14, 2017 at 8:02 PM, Luke Pacholski <notifications@github.com>
wrote:

[2017-06-16 18:06] flukeout commented on #129
Okay, I've made the following changes:

* Made the ``h3`` headings bold.
* Increased the margin above the ``h3`` when it is right after an ``h2`` element.
  * This helps the hierarchy between those two headings.
* Kept the font color of the ``h3`` the same as before, as making it darker conflicted with the ``h2`` right above it.

Check it out here - https://storyengine.io/stories/web-literacy/ani-

[2017-06-16 18:08] flukeout commented on #129
For some reason the changes are reflected in Firefox but not in Chrome, investigating. Weird. Should appear as...

![image](https://user-images.githubusercontent.com/25212/27239035-28c3851a-5284-11e7-90c8-e838ddc0dbf8.png)

[2017-06-16 18:11] flukeout commented on #129
Looks like the changes only show up on the site for me when I'm signed in. When I sign out, they revert back to the original styling. Weird.

[2017-06-16 18:12] flukeout commented on #129
OK - seems to work fine now. Closing! Let me know if you need any other changes etc, it's fairly easy to make small styling tweaks. I can also show you were to do it in the interface if you are comfortable with CSS etc.

cc @prefontaine

[2017-06-16 18:12] #129 closed

[2017-06-16 19:23] prefontaine commented on #129
Brilliant! Thanks again, Luke <3

On Fri, Jun 16, 2017 at 2:12 PM, Luke Pacholski <notifications@github.com>
wrote:

[2017-08-11 18:16] #116 closed

[2017-08-11 18:18] ankuhl opened #130 "Create Google Presentation of Interview Process"

[2017-08-11 18:21] ankuhl opened #131 "Finalize NDA // Mozilla Publicity Release + Photo License"

[2017-09-15 18:36] ankuhl opened #132 "Embed Hypothes.is into StoryEngine.io"
We want Hypothes.is embedded on StoryEngine.io like it is on the [Internet health report ](https://internethealthreport.org/v01/open-innovation/)

Jeremy from Hypothesis said we can do that with a simple javascript. (Open tagging, although we can develop a system where some folks can jon the group so they can access controlled vocabulary.) See here: https://web.hypothes.is/for-publishers/#embeddin

[2017-09-15 19:07] cade commented on #132
[Tech Man ... Tech MAN!](https://youtu.be/i2l4Wx9YZ1E?t=15s)

[2017-09-21 14:00] cadecairos commented on #132
@ankuhl OK, hypothesis should now be embedded in all posts on storyengine.io (but not pages)

I added the necessary domains to the Content Security Policy, and added this function to the theme's `functions.php` to add the script to posts:

[code]

Let me know if it's working as expected, so we can close out this issue.

[2017-09-21 14:05] ankuhl commented on #132
@cadecairos This is wonderful! All seems to be in working order, and we can close out this issue. Thank you!

[2017-09-21 14:06] #132 closed